// main.scss
@import 'base/skeleton'; // CSS Skeleton
@import 'base/reset'; // CSS Resets
@import 'base/fonts'; // Fonts
@import 'base/mixins'; // Mixins
@import 'base/general'; // General styles
@import 'base/buttons'; // Buttons
@import 'base/animations'; // Animations

// Modules
@import 'modules/header'; // Header
@import 'modules/footer'; // Footer
@import 'modules/includes'; // Includes

// Pages
@import 'pages/home'; // Home
@import 'pages/about'; // About
@import 'pages/careers'; // Careers
@import 'pages/news'; // News
@import 'pages/contact'; // Contact
@import 'pages/search'; // Search
@import 'pages/offering'; // Search