body {
background: #086F54;
}

#login h1 a {
background-image: url("../img/expand-logo-login.png");
background-size: contain;
width: 280px !important;
}

.login form{
box-shadow:none;
padding:20px;
padding-top: 40px;
padding-bottom: 40px;
background-color: #F8FBFA;
border-style: none;
}
#login {
background: #086F54;
margin: 50px auto;
padding: 40px 20px;
width: 350px;
}
.login label {
color: #232E33;
font-size: 14px;
}
.login form .forgetmenot{
float:none;
}

.login #nav a, .login #backtoblog a  {
    color: #fff;
}

.login #nav a:hover, .login #backtoblog a:hover  {
    color: #fff;
}


#login form p.submit{
margin-top:15px;
}
.login.wp-core-ui .button-primary {
background: #29BA74;
color: #FFF;
text-shadow: none;
float: none;
clear: both;
display: block;
width: 100%;
padding: 7px;
height: auto;
font-size: 15px;
border: none;
}

.login.wp-core-ui .button-primary:hover {
    background: #086F54;
}

a.privacy-policy-link, #language-switcher {
display: none;
}

.login .privacy-policy-page-link {
text-align: center;
width: 100%;
margin: 0;
}


