// Footer
footer.main {
  font: $normal 1.6rem/2.4rem $regular;
  position: relative;
  overflow-wrap: break-word;
  padding: $padding-half 0px;
  @media (min-width: $breakpoint-tablet) {
    padding: 60px 0px;
  }
  color: $white;
  background: $mid-green;
  .logo {
    margin-bottom: 20px;
  }
  .logo_links {
    margin-top: 20px;
    margin-left: 0px;
    float: left;
    ul {
      li {
        margin-bottom: 10px;
        a {
          color: $yellow;
        }
      }
    }
    
  }
  @media (min-width: $breakpoint-tablet) {
    .logo {
      float: left;
      margin: 0;
    }
    .logo_wrap {
      margin-left: 60px;
      float: left;
    }
    .logo_links {
      margin-top: 20px;
      margin-left: 140px;
      float: left;
    }
  }
  @media (min-width: $breakpoint-desktop) {
    .logo_links {
      margin-top: 52px;
      margin-left: 60px;
      float: left;
    }
  }
  h4 {
    font: $medium 2.0rem/2.4rem $heading;
    color: $white;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #5cb280;
  }
  address, p {
    font: $normal 1.4rem/2.4rem $heading;
    margin-bottom: 0px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  h5 {
    font: $bold 1.2rem/2.0rem $heading;
    color: $white;
    text-transform: uppercase;
    margin-top: 20px;
  }
  ul.social {
    text-align: left;
    margin: 10px 0 0 0;
    li {
      display: inline-block;
      margin: 0px 3px;
      a {
        svg {
          width: 30px;
          @media (min-width: $breakpoint-tablet) {
            width: 38px;
          }
          height: auto;
          path {
            transition: all ease .3s;
            fill: $white;
          }
        }
        &:hover {
          svg {
            path {
              transition: all ease .3s;
              fill: $dark-green;
            }
          }
        }
      }
    }
  }
  ul#menu-footer {
    text-align: left;
    margin: 10px 0;
    li {
      display: block;
      margin-bottom: 3px;
      a {
        font: $normal 1.4rem/2.4rem $regular;
        color: $white;
      }
    }
  }
}
footer.copyright {
  padding: 20px 0;
  background: $dark-green;
  .end_links {
    color: $white;
    font: $normal 1.4rem/2.8rem $light;
    margin: 0;
    text-align: center;
    a {
      color: $white;
    }
  }
}

.back_to_top {
  @media (max-width: $breakpoint-tablet) {
    display: none !important;
  }
  display: none;
  width: 48px;
  height: 48px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  background: $light-green url("../img/arrow_up.svg") no-repeat center center;
  &:hover {
    background: $dark-green url("../img/arrow_up.svg") no-repeat center center;
  }
}