
// Header

header {
  height: 60px;
  @media (min-width: $breakpoint-laptop) {
    height: 102px; 
  }
  background: $white;
  .logo {
    .site-title {
      margin: 10px 0px;
      @media (min-width: $breakpoint-laptop) {
        margin: 20px 0px;
      }
      line-height: 0 !important;
      svg {
        display: inline-block;
        width: auto;
        height: 40px;
        @media (min-width: $breakpoint-laptop) {
          width: auto;
          height: 60px;
        }
        path, rect {
          // fill: $dark-green;
        }
      }
      a {
        position: relative;
        text-decoration: none;
        color: $white;
        span {
          font: $light 2.0rem/2.2rem $regular;
          position: absolute;
          // top: 15px;
          left: 40px;
          width: auto;
        }
        
      }
    }
  }
  nav.primary {
    display: none;
    @media (min-width: $breakpoint-laptop) {
      display: block;
    }
    font: $normal 1.6rem/3rem $regular;
    letter-spacing: 0.1rem;
    padding-right: 35px;
    ul {
      font-size: 0;
      margin: 0;
      text-align: right;
      line-height:1em;
      @media (min-width: $breakpoint-laptop) {
        display: block;
      } 
      li {
        position: relative;
        display: inline-block;
        &:hover {
          cursor: pointer;
        }
        &.current_page_item a, &.current-menu-item a, &.current-page-ancestor a, &.current-post-ancestor a, &.current-menu-parent a, &.current-category-ancestor a, &.current_page_parent a, &:hover a {
          color: $dark-green;
          padding: 8px 0px;
          margin: 35px 15px;
          border-bottom: 2px solid $dark-green;
        }
        &:after {
          content: '';
          height: 10%; //You can change this if you want smaller/bigger borders
          width: 1px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0,-50%);
          background-color: #DCDCDC;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        a {
          letter-spacing: 2px;
          text-transform: uppercase;
          font: $normal 1.4rem/3.0rem $regular;
          @include transition(all 0.2s ease-out);
          line-height:1em;
          display: block;
          color: $dark-green;
          border-bottom: 2px solid transparent;
          text-decoration: none;
          padding: 8px 0px;
          margin: 35px 15px;
        }
        &.menu-item-has-children, &.page_item_has_children {
          a {
            background: url('../img/menu_arrow.svg') right center no-repeat;
            padding-right: 20px;
          }
          ul {
            border: 0;
            text-align: left;
            li {
              box-sizing: border-box;
              padding: 10px 5px;
              // display: block;
              a {
                letter-spacing: 0px;
                text-transform: none;
                font: $normal 1.4rem/3.0rem $regular;
                color: $dark-green;
                margin: 0;
                border-bottom: 2px solid transparent;
                background: none !important;
              }
              &:after { 
                width: 0px;
              }
              &:hover a, &.current-menu-item a, &.current_page_item a {
                color: $light-green;
                border-bottom: 2px solid $light-green;
              }
              &.menu-item-has-children, &.page_item_has_children {
                a {
                  background: url('../img/menu_arrow.svg') right center no-repeat;
                  padding-right: 20px;
                }
                a:hover > ul {
                    position: relative;
                }
              }
            }
          }
        }
      }
    }
  }

  a.menu-toggle {
    display: block;
    height: 30px;
    width: 30px;
    @media (min-width: $breakpoint-laptop) {
      display: none;
    }
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 30;
    span{
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $dark-green;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      &:nth-child(1) {top: 0px;}
      &:nth-child(2), &:nth-child(3) {top: 8px; background: $light-green;}
      &:nth-child(4) {top: 16px; background: $mid-green;}
    }
    &.open {
      span{
        background-color: $light-green !important;
        &:nth-child(1), &:nth-child(4) { opacity: 0; }
        &:nth-child(2) {transform: rotate(45deg);}
        &:nth-child(3) {transform: rotate(-45deg);}
      }
    }
  }
}

nav.mobile {
  display: none;
  position: absolute;
  overflow: scroll;
  background: $dark-green;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  ul {
    text-align: right;
    margin: 20px 0px;
    padding: 0px 25px;
    li {
      text-align: right;
      display: block;
      &.current_page_item a, &.current-menu-item a, &.current-page-ancestor a, &.current-post-ancestor a, &.current-menu-parent a, &.current-category-ancestor a, &.current_page_parent a, &:hover a {
        font: $normal 2.2rem/2.4rem $regular !important;
        color: $white;
        margin: 20px 0px;
        font-weight: bold;
      }
      a {
        font: $normal 2.2rem/2.4rem $regular !important;
        @include transition(all 0.2s ease-out);
        line-height: 1.4rem;
        display: block;
        color: $white;
        text-decoration: none;
        margin: 20px 0px;
        padding-right: 15px;
      }
      &.menu-item-has-children {
        position: relative;
        a {
          margin-right: 50px;
          
        }
        .sub-toggle {
          cursor: pointer;
          position: absolute;
          right: 5px;
          top: 5px;
          margin: auto;
          padding: 20px;
          background: url('../img/menu_arrow_mobile.svg') center center no-repeat;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          &.open {
            background: url('../img/menu_arrow_mobile.svg') center center no-repeat;
            transform-origin: center center;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
          }
        }
        li {
          a {
            background: none;
          }
        }
      }
      &.current_page_parent.menu-item-has-children {
        .sub-toggle {
          background: url('../img/menu_arrow_mobile.svg') center center no-repeat;
          transform-origin: center center;
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          &.open {
            background: url('../img/menu_arrow_mobile.svg') center center no-repeat;
            transform-origin: center center;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }
        }
        ul.sub-menu {
          display: block;
        }
      }
      ul.sub-menu {
        display: none;
        margin: 0 0px 0 10px;
        padding: 0;
        li {
          padding-left: 10px;
          a {
            
          }
        }
        &:nth-last-child(2), &:last-child {
          a {
            border-bottom: 1px solid #e1e1ff;
          }
        }
      }
      
    }
  }
}

// Search 
.search_icon {
  background: url('../img/search.svg') no-repeat center center;
  background-size: contain;
  width: 35px;  
  height: auto;
  padding: 7px 0px;
  float: right;
  box-sizing: border-box;
  position: absolute;
  top: 44px;
  right: 0px;
  cursor: pointer;
  border-left: 1px solid #dcdcdc;
}
.search_form {
  display: none;
  position: absolute;
  top: 35px;
  right: 34px;
  z-index: 1000;
  .searchform {
    input.search {
    font: $normal 1.6rem/1.4rem $regular;
    font-size: 1.4rem;
    width: 160px;
    height: 31px;
    border: none;
    padding: 0px 10px;
    background: $white;
    color: $black;
      &:focus {
        outline: none;
      }
    }
    input.search-submit {
      cursor: pointer;
      font: $normal 1.4rem/1.4rem $bold;
      font-size: 1.4rem;
      height: 31px;
      border: none;
      padding: 0px 10px;
      background: $mid-green;
      color: $white;
      border: 1px solid $mid-green;
      // text-transform: uppercase;
      &:hover {
        background: $dark-green;
        color: $white;
        border-left: 1px solid $dark-green;
        
      }
    }
  }
}

@mixin invisible() {
  visibility: hidden;
  opacity: 0;
  transition: opacity linear 0.5s, visibility linear 0.5s;
}

@mixin visible() {
  visibility: visible;
  opacity: 1;
  transition: opacity linear 0.5s, visibility linear 0.5s;
}

nav.primary ul ul {
  position: absolute;
  z-index: 9999;
  background: $white-bg;
  margin: 0;
  letter-spacing: 0px;
  @include invisible();
  opacity: 0;
  visibility: hidden;
  top: 102px;
  left: calc(50%);
  transform: translatex(-50%);
  width: 680px;
  padding: 20px 30px;
  text-align: left;
  white-space: normal;
  display: flex;
  flex-flow: row wrap;
  li {
    flex-basis: 33%;
    a {
      display: inline-block;
      padding: 0px !important;
    }
  }
}

nav.primary ul li:hover > ul {
  @include visible();
  opacity: 1;
  visibility: visible;
}
