// Includes

// Content Block 
.content_block {
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) { 
    padding: $padding 0;
  }
}

// Square Section
.square_section {
  background: $black;
  margin: 0px auto;
  .container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }
  }
  .square_background {
    background: url('../img/placeholder.jpg') center center no-repeat;
    background-size: cover;
    content: "";
    height: auto;
    min-height: 300px;
    width: 100%;
    position: relative;
    transition: opacity 0.4s ease-in-out;
    @media (max-width: $breakpoint-tablet) {
      order: 2;
    }
    @media (min-width: $breakpoint-tablet) {
      width: 50%;
      min-height: 540px;
    }  
  }
  .square_content {
    height: auto;
    background: $black;
    width: 100%;
    text-align: left;
    @media (max-width: $breakpoint-tablet) {
      order: 1;
    }
    @media (min-width: $breakpoint-tablet) {
      position: relative;
      width: 50%;
    }
    
    .content {
      padding: 30px;
      @media (min-width: $breakpoint-tablet) {
        @include vertical-align;
        padding: 60px;
      }
      p {
        color: $white;
        font: $normal 1.4rem/2.8rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 1.8rem/3.2rem $heading;
        }
      }
      .title {
        padding: 0 0 10px 0;
        @media (min-width: $breakpoint-tablet) {
          padding: 0 0 20px 0;
        }
        h3 {
          color: $mid-green;
          span.word1 {
            color: $white;
          }
          &.two {
            span.word1, span.word2 {
              color: $white;
            }
          }
          &.three {
            span.word1, span.word2, span.word3 {
              color: $white;
            }
          }
          &.four {
            span.word1, span.word2, span.word3, span.word4 {
              color: $white;
            }
          }
          &.five {
            span.word1, span.word2, span.word3, span.word4, span.word5 {
              color: $white;
            }
          }
          &.six {
            span.word1, span.word2, span.word3, span.word4, span.word5, span.word6 {
              color: $white;
            }
          }
        }
        
      }
      a {
        color: $mid-green;
        &:before {
          color: $white;
        }
        &:hover {
          color: $white;
        }
      }
    }
  }
  &.white {
    background: $white;
    .square_background {
      background: url('../img/placeholder_two.jpg') center center no-repeat;
      background-size: cover;
      min-height: 300px;
      @media (min-width: $breakpoint-tablet) {
        min-height: 640px;
      }
    }
    .square_content {
      background: $white;
      .content {
        padding: 30px;
        @media (min-width: $breakpoint-tablet) {
          padding: 60px $padding;
        }
        p {
          color: $black;
        }
        .title {
          h3 {
            color: $mid-green;
            span.word1 {
              color: $black;
            }
            &.two {
              span.word1, span.word2 {
                color: $black;
              }
            }
            &.three {
              span.word1, span.word2, span.word3 {
                color: $black;
              }
            }
            &.four {
              span.word1, span.word2, span.word3, span.word4 {
                color: $black;
              }
            }
            &.five {
              span.word1, span.word2, span.word3, span.word4, span.word5 {
                color: $black;
              }
            }
            &.six {
              span.word1, span.word2, span.word3, span.word4, span.word5, span.word6 {
                color: $black;
              }
            }
          }
        }
        a {
          color: $mid-green;
          &:before {
            color: $black;
          }
          &:hover {
            color: $black;
          }
        }
      }
    }
    &.large {
      .square_content {
        background: $white;
        .content {
          padding: 30px;
          @media (min-width: $breakpoint-tablet) {
            padding: 60px $padding;
          }
          p {
            background: -webkit-linear-gradient(to right, #29BA74, #197A56);
            background: linear-gradient(to right, #29BA74, #197A56);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font: $normal 1.8rem/2.8rem $heading;
            @media (min-width: $breakpoint-tablet) {
              font: $normal 2.8rem/4.0rem $heading;
            }
            @media (min-width: $breakpoint-laptop) {
              font: $normal 3.4rem/5.0rem $heading;
            }
            @media (min-width: $breakpoint-desktop) {
              font: $normal 4.4rem/6.0rem $heading;
            }
          }
          .title {
            h3 {
              color: $mid-green;
              span.word1 {
                color: $black;
              }
              &.two {
                span.word1, span.word2 {
                  color: $black;
                }
              }
              &.three {
                span.word1, span.word2, span.word3 {
                  color: $black;
                }
              }
              &.four {
                span.word1, span.word2, span.word3, span.word4 {
                  color: $black;
                }
              }
              &.five {
                span.word1, span.word2, span.word3, span.word4, span.word5 {
                  color: $black;
                }
              }
              &.six {
                span.word1, span.word2, span.word3, span.word4, span.word5, span.word6 {
                  color: $black;
                }
              }
            }
          }
        }
      }
    }
  }
  &.green {
    background: $mid-green;
    .square_background {
      background: url('../img/placeholder_two.jpg') center center no-repeat;
      background-size: cover;
      min-height: 300px;
      @media (min-width: $breakpoint-tablet) {
        min-height: 640px;
      }
    }
    .square_content {
      background: $mid-green;
      .content {
        padding: 30px;
        @media (min-width: $breakpoint-tablet) {
          padding: 60px $padding;
        }
        p {
          color: $white;
        }
        .title {
          h3 {
            color: $white;
            span.word1 {
              color: $black;
            }
            &.two {
              span.word1, span.word2 {
                color: $black;
              }
            }
            &.three {
              span.word1, span.word2, span.word3 {
                color: $black;
              }
            }
            &.four {
              span.word1, span.word2, span.word3, span.word4 {
                color: $black;
              }
            }
            &.five {
              span.word1, span.word2, span.word3, span.word4, span.word5 {
                color: $black;
              }
            }
            &.six {
              span.word1, span.word2, span.word3, span.word4, span.word5, span.word6 {
                color: $black;
              }
            }
          }
        }
        a {
          color: $white;
          &:before {
            color: $black;
          }
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}

// Stat Section
.stat_section {
  .container {
    width: 100%;
    padding: 0;
  }
  .stats {
    display: flex;
    flex-flow: wrap;
    .stat {
      box-sizing: border-box;
      text-align: center;
      margin-left: 0;
      width: 50%;
      padding: 60px 20px;
      @media (min-width: $breakpoint-tablet) {
        width: 25%;
        padding: 120px $padding-half;
      }
      &.white {
        background: #F8FBFA;
        span.unit {
          color: $light-green;
        }
      }
      &.grey {
        background: $white-bg;
        span.unit {
          color: $light-green;
        }
      }
      &.green {
        background: $light-green;
        span.unit {
          color: $white;
        }
      }
      span.unit {
        display: block;
        margin-bottom: 5px;
        font: $bold 3.8rem/3.8rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 6.4rem/6.4rem $heading;
        }
      }
      span.description {
        display: block;
        text-transform: uppercase;
        font: $medium 1.4rem/2.0rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 1.8rem/2.4rem $heading;
        }
      }
    }
    &.one {
      .stat {
        width: 100%;
        padding: $padding $padding-half;
        @media (min-width: $breakpoint-tablet) {
          width: 100%;
          padding: 120px $padding-half;
        }
      }
    }
    &.two {
      .stat {
        width: 50%;
        padding: $padding $padding-half;
        @media (min-width: $breakpoint-tablet) {
          width: 50%;
          padding: 120px $padding-half;
        }
      }
    }
    &.three {
      .stat {
        width: 100%;
        padding: $padding $padding-half;
        @media (min-width: $breakpoint-tablet) {
          width: 33.3%;
          padding: 120px $padding-half;
        }
      }
    }
  }
}

.our_products {
  padding: 20px 0;
  @media (min-width: $breakpoint-tablet) { 
    padding: $padding-half 0 $padding 0;
  }
  .row {
    @media (min-width: $breakpoint-laptop) { 
      display: flex;
      
    }
  }
  article {
    display: flex;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) { 
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
      color: $black;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .content {
      box-sizing: border-box;
      border-top: 5px solid $light-green;
      background: $white;
      margin: 20px;
      padding: 20px;
      @media (min-width: $breakpoint-tablet) { 
        max-height: 100%;
        min-height: 300px;
        margin: 40px;
        padding: 20px;
      }
      span.type {
        font: $bold 1.2rem/1.8rem $heading;
        text-transform: uppercase;
        color: $light-grey;
        letter-spacing: 2px;
        display: block;
        margin-bottom: 5px;
      }
      h4 {
        font: $bold 1.6rem/2.0rem $heading;
        text-transform: uppercase;
      }
      p, ul {
        font: $normal 1.4rem/2.0rem $regular;
        @media (min-width: $breakpoint-tablet) { 
          font: $normal 1.6rem/2.4rem $regular;
        }
      }
      ul {
        margin-bottom: 0;
      }
      .button {
        -webkit-transition: all ease 0s;
        -moz-transition: all ease 0s;
        -o-transition: all ease 0s;
        transition: all ease 0s;
      }
    }   

    &:hover {
      a > .content {
        height: 100%;
        margin: 0;
        background: $light-green;
        opacity: 0.9;
        padding: 40px;
        @media (min-width: $breakpoint-tablet) { 
          padding: 60px;
        }
        h4, span, p, ul, li {
          color: $white;
        }
        .button {
          color: $white;
          &:before {
            color: $white;
          }
        }
      }
      .content {
        
      }
    }
  }
}

// Product Details
.product_section {
  padding: $padding-half 0 0 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0 $padding-half 0;
  }
  .product {
    margin: 0 0 $padding-half 0;
    padding: 20px;
    @media (min-width: $breakpoint-tablet) {
      padding: 40px;
    }
    .content {
      
      background: $white_bg;
      border-top: 8px solid $light-green;
      background: rgba(240, 240, 240, 0.90);
      padding: 20px;
      @media (min-width: $breakpoint-tablet) {
        padding: 30px 40px;
      }
      h3 {
        font: $bold 1.8rem/2.6rem $heading;
        text-transform: uppercase;
        color: $black;
      }
      p:first-of-type {
        font-weight: $medium;
      }
    }
    
    a.button {
      padding: 10px 0;
    }
    
  }
  .extra_details {
    display: none;
    margin: -40px 0 40px 0;
    background: #F0F0F0;
    padding: 20px;
    @media (min-width: $breakpoint-tablet) {
      padding: 40px;
    }
    h4 {
      font: $bold 1.6rem/3.2rem $heading;
      color: $light-green;
    }
    ul {
      margin: 0 0 20px 0;
    }
    ul.key_contacts {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      li {
        list-style: none;
        margin: 0 0 10px 0;
        flex: 1 1 100%;
        @media (min-width: $breakpoint-tablet) {
          flex: 1 1 50%;
        }
      }
    }
  }
}

// Tabbed Section
.tabbed_section {
  background: $white-bg;
  padding: 30px 0 20px 0;
  @media (min-width: 600px) {
    padding: $padding-half 0;
  }
  .tab_menu {
    width: 100%;
    clear: both;
    @media (min-width: 600px) { 
      border-bottom: 2px solid $table-grey;
    }
    button {
      text-transform: uppercase;
      color: $dark-grey;
      margin-bottom: -2px;
      cursor: pointer;
      background: none;
      padding: 8px 16px;
      float: left;
      width: auto;
      border: none;
      display: block;
      outline: 0;
      min-width: 100%;
      font: $medium 1.4rem/2.8rem $heading;
      @media (min-width: 600px) { 
        min-width: 25%;
        font: $bold 1.6rem/3.2rem $heading;
      }
      @media (max-width: 600px) {
        margin: 5px 0;
        font: $medium 1.4rem/2.8rem $heading;
        background: $white-bg;
        text-align: left;
        border: 1px solid $light-grey;
        border-left: 5px solid $light-green;
      }
      &:hover, &.active {
        color: $mid-green;
        border-bottom: 5px solid $mid-green;
        @media (max-width: 600px) {
          background: $light-green;
          border: 1px solid $light-green;
          border-left: 5px solid $light-green;
          color: $white;
        }
      }
    }
    &.two {
      button {
        @media (min-width: 600px) { 
          min-width: 50%;
          font: $bold 1.6rem/3.2rem $heading;
        }
      }
    }
    &.three {
      button {
        @media (min-width: 600px) { 
          min-width: 33%;
          font: $bold 1.6rem/3.2rem $heading;
        }
      }
    }
  }
  article {
    margin: 20px 0 0 0;
    @media (min-width: $breakpoint-tablet) {
      margin: $padding 0 $padding-half;
    }
    
    .contain {
      @media (min-width: $breakpoint-tablet) {
        display: flex;
        align-items: center;
      }
      .icon {
        width: 75%;
        margin: 0px auto;
        margin-bottom: 20px;
        @media (min-width: $breakpoint-tablet) {
          width: 25%;
          float: left;
          margin-bottom: 0;
          margin-right: 40px;
        }
      }
      .content {
        
        p {
        color: $dark-grey;
        font: $medium 1.6rem/2.4rem $heading;
          @media (min-width: $breakpoint-tablet) {
            font: $medium 2.0rem/3.2rem $heading;
          }  
        } 
      }
      .icon + .content {
        width: 100%;
        @media (min-width: $breakpoint-tablet) {
          width: 75%;
        }
      }
    }
  }
}

// Gradient Text
.text_section {
  padding: 30px 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  p {
    background: -webkit-linear-gradient(to right, #29BA74, #197A56);
    background: linear-gradient(to right, #29BA74, #197A56);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: $normal 1.8rem/2.8rem $heading;
    @media (min-width: $breakpoint-tablet) {
      font: $normal 3.4rem/5.4rem $heading;
    }
    &::selection {
      -webkit-text-fill-color: $white;
    }
  }
}

// Careers CTA
.careers_cta {
  background: $white-bg;
  margin: 0px auto;
  .container {
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: wrap;
  }
  h1.split_title {
    color: $white;
    span.word1 {
      color: $white;
    }
  }
  .cta_background {
    position: relative;
    content: "";
    height: auto;
    min-height: 300px;
    width: 100%;
    max-width: 1600px;
    @media (min-width: $breakpoint-tablet) {
      min-height: 600px;
      width: 75%;
    }
    .cta_title {
      padding: 30px 40px;
      @include vertical-align;
      @media (min-width: $breakpoint-tablet) {
        padding: 0;
        @include vertical-align;
        left: 5%;
      }
      svg {
        max-width: 70%;
        @media (min-width: $breakpoint-tablet) {
          max-width: 100%;
        }
      }
      .title_single {
        margin-bottom: 0;
      }
    }
  }
  .cta_content {
    text-align: left;
    background: $white-bg;
    width: 100%;
    @media (min-width: $breakpoint-tablet) {
      width: 25%;
      max-width: 600px;
    }
    .content {
      padding: 30px 40px;
      max-width: 400px;
      h4 {
        font: $bold 1.6rem/2.4rem $heading;
        text-transform: uppercase;
      }
      p {
        font: $normal 1.6rem/2.8rem $heading;
      }
      ul.links {
        margin: 0;
        li {
          list-style: none;
          margin: 0;
        }
      }
    }
  }
}

// Benefits Section
.careers_benefits {
  background: $white;
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  .title {
    text-align: center;
  }
  .benefits {
    @media (min-width: $breakpoint-tablet) {
      display: flex;
    }
    .benefit {
      background: $white-bg;
      padding: 20px;
      border-top: 8px solid $mid-green;
      margin-bottom: 20px;
      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 0;
      }
      h4 {
        font: $medium 1.6rem/2.4rem $heading;
        color: $mid-green;
        text-transform: uppercase;
      }
      p:last-of-type {
        margin-bottom: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
}

// Generic Title to add to sections
section {
  .title {
    padding: 0 0 20px 0;
    @media (min-width: $breakpoint-tablet) {
      padding: 0 0 $padding-half 0;
    }
    h1, h3 {
      text-transform: uppercase;
      margin: 0;
      color: $mid-green;
      font: $normal 2.0rem/2.6rem $heading;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 3.2rem/4.2rem $heading;
      }
      span.word1 {
        color: $black;
      }
    }
    p {
      margin-top: 10px;
      font: $normal 1.4rem/2.8rem $heading;
      @media (min-width: $breakpoint-tablet) {
        margin-top: 20px;
        font: $normal 1.8rem/3.2rem $heading;
      }
    }
    &.single {
      padding: 0 0 20px 0;
    }
  }
}

section {
  box-sizing: border-box;
  .row {
    clear: both;
  }
}