// Includes

.stat_section {
  .stat {
    text-align: center;
    width: 25%;
    margin-left: 0;
    padding: 120px $padding-half;
    &.white {
      background: #F8FBFA;
      span.unit {
        color: $light-green;
      }
    }
    &.grey {
      background: #F0F0F0;
      span.unit {
        color: $light-green;
      }
    }
    &.green {
      background: $light-green;
      span.unit {
        color: $white;
      }
    }
    span.unit {
      font: $bold 5.4rem/5.4rem $regular;
      display: block;
      margin-bottom: 5px;
    }
    span.description {
      font: $bold 1.8rem/2.4rem $regular;
      display: block;
      text-transform: uppercase;
    }
  }
}

.text_section {
  padding: $padding 0;
  p {
    font: $normal 3.4rem/5.4rem $regular;
    background: -webkit-linear-gradient(to right, #29BA74, #197A56);
    background: linear-gradient(to right, #29BA74, #197A56);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}