// Includes

// Square Section
.square_section {
  background: $black;
  margin: 0px auto;
  .container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }
  }
  .square_background {
    background: url('../img/placeholder.jpg') center center no-repeat;
    background-size: cover;
    content: "";
    height: auto;
    min-height: 300px;
    width: 100%;
    @media (max-width: $breakpoint-tablet) {
      order: 2;
    }
    @media (min-width: $breakpoint-tablet) {
      width: 50%;
      min-height: 540px;
    }
  }
  .square_content {
    height: auto;
    background: $black;
    width: 100%;
    @media (max-width: $breakpoint-tablet) {
      order: 1;
    }
    @media (min-width: $breakpoint-tablet) {
      position: relative;
      width: 50%;
    }
    text-align: left;
    
    .content {
      padding: 30px;
      @media (min-width: $breakpoint-tablet) {
        @include vertical-align;
        padding: 60px;
      }
      
      p {
        color: $white;
        font: $normal 1.4rem/2.8rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 1.8rem/3.2rem $heading;
        }
      }
      .title {
        padding: 0 0 10px 0;
        @media (min-width: $breakpoint-tablet) {
          padding: 0 0 20px 0;
        }
        h3 {
          color: $mid-green;
          span.word1 {
            color: $white;
          }
        }
      }
      a {
        color: $mid-green;
        &:before {
          color: $white;
        }
        &:hover {
          color: $white;
        }
      }
    }
  }
  &.white {
    background: $white;
    .square_background {
      background: url('../img/placeholder_two.jpg') center center no-repeat;
      background-size: cover;
      min-height: 300px;
      @media (min-width: $breakpoint-tablet) {
        min-height: 640px;
      }
    }
    .square_content {
      background: $white;
      .content {
        padding: 30px;
        @media (min-width: $breakpoint-tablet) {
          padding: 60px $padding;
        }
        p {
          color: $black;
        }
        .title {
          h3 {
            color: $mid-green;
            span.word1 {
              color: $black;
            }
          }
        }
        a {
          color: $mid-green;
          &:before {
            color: $black;
          }
          &:hover {
            color: $black;
          }
        }
      }
    }
    &.large {
      .square_content {
        background: $white;
        .content {
          padding: 30px;
          @media (min-width: $breakpoint-tablet) {
            padding: 60px $padding;
          }
          p {
            font: $normal 1.8rem/2.8rem $heading;
            @media (min-width: $breakpoint-tablet) {
              font: $normal 2.8rem/4.0rem $heading;
            }
            @media (min-width: $breakpoint-laptop) {
              font: $normal 3.4rem/5.0rem $heading;
            }
            @media (min-width: $breakpoint-desktop) {
              font: $normal 4.4rem/6.0rem $heading;
            }
            background: -webkit-linear-gradient(to right, #29BA74, #197A56);
            background: linear-gradient(to right, #29BA74, #197A56);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
  &.green {
    background: $mid-green;
    .square_background {
      background: url('../img/placeholder_two.jpg') center center no-repeat;
      background-size: cover;
      min-height: 300px;
      @media (min-width: $breakpoint-tablet) {
        min-height: 640px;
      }
    }
    .square_content {
      background: $mid-green;
      .content {
        padding: 30px;
        @media (min-width: $breakpoint-tablet) {
          padding: 60px $padding;
        }
        p {
          color: $white;
        }
        .title {
          h3 {
            color: $white;
            span.word1 {
              color: $black;
            }
          }
        }
        a {
          color: $white;
          &:before {
            color: $black;
          }
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}

// Stat Section
.stat_section {
  .container {
    width: 100%;
    padding: 0;
  }
  .stats {
    display: flex;
    flex-flow: wrap;
    .stat {
      box-sizing: border-box;
      text-align: center;
      width: 50%;
      padding: 60px 20px;
      @media (min-width: $breakpoint-tablet) {
        width: 25%;
        padding: 120px $padding-half;
      }
      margin-left: 0;
      &.white {
        background: #F8FBFA;
        span.unit {
          color: $light-green;
        }
      }
      &.grey {
        background: $white-bg;
        span.unit {
          color: $light-green;
        }
      }
      &.green {
        background: $light-green;
        span.unit {
          color: $white;
        }
      }
      span.unit {
        font: $bold 3.8rem/3.8rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 6.4rem/6.4rem $heading;
        }
        display: block;
        margin-bottom: 5px;
      }
      span.description {
        font: $medium 1.4rem/2.0rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 1.8rem/2.4rem $heading;
        }
        display: block;
        text-transform: uppercase;
      }
    }
    &.one {
      .stat {
        width: 100%;
        padding: $padding $padding-half;
        @media (min-width: $breakpoint-tablet) {
          width: 100%;
          padding: 120px $padding-half;
        }
      }
    }
    &.two {
      .stat {
        width: 50%;
        padding: $padding $padding-half;
        @media (min-width: $breakpoint-tablet) {
          width: 50%;
          padding: 120px $padding-half;
        }
      }
    }
    &.three {
      .stat {
        width: 100%;
        padding: $padding $padding-half;
        @media (min-width: $breakpoint-tablet) {
          width: 33.3%;
          padding: 120px $padding-half;
        }
      }
    }
  }
}

.our_products {
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) { 
    padding: $padding-half 0 $padding 0;
  }
  .row {
    @media (min-width: $breakpoint-tablet) { 
      display: flex;
      
    }
  }
  article {
    display: flex;
    margin-bottom: $padding-half;
    @media (min-width: $breakpoint-tablet) { 
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
      color: $black;
      display: flex;
    }
    .content {
      box-sizing: border-box;
      border-top: 5px solid $light-green;
      background: $white;
      margin: 20px;
      padding: 20px;
      @media (min-width: $breakpoint-tablet) { 
        min-height: 300px;
        margin: 40px;
        padding: 20px;
      }
      
      span.type {
        font: $bold 1.2rem/1.8rem $heading;
        text-transform: uppercase;
        color: $light-grey;
        letter-spacing: 2px;
      }
      h4 {
        font: $bold 1.6rem/2.0rem $heading;
        text-transform: uppercase;
      }
      p, ul {
        font: $normal 1.4rem/2.0rem $regular;
        @media (min-width: $breakpoint-tablet) { 
          font: $normal 1.6rem/2.4rem $regular;
        }
      }
      ul {
        margin-bottom: 0;
      }
    }
    

    &:hover {
      cursor: pointer;
      .content {
        padding: 40px;
        @media (min-width: $breakpoint-tablet) { 
          padding: 60px;
        }
        margin: 0;
        background: $light-green;
        opacity: 0.9;
        h4, span, p, ul, li {
          color: $white;
        }
      }
    }
  }
}

// Tabbed Section
.tabbed_section {
  background: $white-bg;
  padding: $padding-half 0;
  .tab_menu {
    @media (min-width: 600px) { 
      border-bottom: 2px solid $table-grey;
    }
    width: 100%;
    clear: both;
    button {
      min-width: 100%;
      font: $medium 1.4rem/2.8rem $heading;
      @media (min-width: 600px) { 
        min-width: 25%;
        font: $bold 1.6rem/3.2rem $heading;
      }
      
      text-transform: uppercase;
      color: $dark-grey;
      margin-bottom: -2px;
      cursor: pointer;
      background: none;
      padding: 8px 16px;
      float: left;
      width: auto;
      border: none;
      display: block;
      outline: 0;
      @media (max-width: 600px) {
        margin: 5px 0;
        font: $medium 1.4rem/2.8rem $heading;
        background: $white-bg;
        text-align: left;
        border: 1px solid $light-grey;
        border-left: 5px solid $light-green;
      }
      &:hover, &.active {
        color: $mid-green;
        border-bottom: 5px solid $mid-green;
        @media (max-width: 600px) {
          background: $light-green;
          border: 1px solid $light-green;
          border-left: 5px solid $light-green;
          color: $white;
        }
      }
    }
  }
  article {
    margin: 20px 0 0 0;
    @media (min-width: $breakpoint-tablet) {
      margin: $padding 0 $padding-half;
    }
    
    .contain {
      @media (min-width: $breakpoint-tablet) {
        display: flex;
        align-items: center;
      }
      .icon {
        width: 75%;
        margin: 0px auto;
        margin-bottom: 20px;
        @media (min-width: $breakpoint-tablet) {
          width: 100%;
          float: left;
          margin-bottom: 0;
          margin-right: 40px;
        }
      }
      .content {
        p {
        color: $dark-grey;
        font: $medium 1.6rem/2.4rem $heading;
          @media (min-width: $breakpoint-tablet) {
            font: $medium 2.0rem/3.2rem $heading;
          }  
        } 
      }
    }
  }
}

// Gradient Text
.text_section {
  padding: 30px 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  p {
    font: $normal 1.8rem/2.8rem $heading;
    @media (min-width: $breakpoint-tablet) {
      font: $normal 3.4rem/5.4rem $heading;
    }
    background: -webkit-linear-gradient(to right, #29BA74, #197A56);
    background: linear-gradient(to right, #29BA74, #197A56);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &::selection {
      -webkit-text-fill-color: $white;
    }
  }
}

// Careers CTA
.careers_cta {
  background: $white-bg;
  margin: 0px auto;
  .container {
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: wrap;
  }
  .cta_background {
    background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('../img/expand_careers.jpg') center center no-repeat;
    background-size: cover;
    content: "";
    height: auto;
    min-height: 400px;
    width: 100%;
    @media (min-width: $breakpoint-tablet) {
      min-height: 600px;
      width: 75%;
    }
    max-width: 1600px;
    .cta_title {
      @media (min-width: $breakpoint-tablet) {
        @include vertical-align;
        left: 5%;
      }
      svg {
        display: none;
        @media (min-width: $breakpoint-tablet) {
          max-width: 100%;
          display: block;
        }
      }
      
    }
  }
  .cta_content {
    background: $white-bg;
    width: 100%;
    @media (min-width: $breakpoint-tablet) {
      width: 25%;
      max-width: 600px;
    }
    text-align: left;
    .content {
      padding: 30px 40px;
      max-width: 400px;
      h4 {
        font: $bold 1.6rem/2.4rem $heading;
        text-transform: uppercase;
      }
      p {
        font: $normal 1.6rem/2.8rem $heading;
      }
    }
  }
}


// Generic Title to add to sections
section {
  .title {
    padding: 0 0 20px 0;
    @media (min-width: $breakpoint-tablet) {
      padding: 0 0 $padding-half 0;
    }
    h1, h3 {
      font: $normal 2.0rem/2.6rem $heading;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 3.2rem/4.2rem $heading;
      }
      text-transform: uppercase;
      margin: 0;
      color: $mid-green;
      span.word1 {
        color: $black;
      }
    }
    p {
      margin-top: 10px;
      font: $normal 1.4rem/2.8rem $heading;
      @media (min-width: $breakpoint-tablet) {
        margin-top: 20px;
        font: $normal 1.8rem/3.2rem $heading;
      }
    }
    &.single {
      padding: 0 0 20px 0;
    }
  }
}

section {
  box-sizing: border-box;
  .row {
    clear: both;
  }
}