// Includes

.square_section {
  background: $black;
  margin: 0px auto;

  .container {
    width: 100%;
    display: flex;
  }
  
  .square_background {
    background: url('../img/placeholder.jpg') center center no-repeat;
    background-size: cover;
    content: "";
    height: auto;
    min-height: 540px;
    width: 50%;
  }
  .square_content {
    position: relative;
    background: $black;
    width: 50%;
    text-align: left;
    
    .content {
      @include vertical-align;
      padding: 60px;
      p {
        color: $white;
        font: $normal 1.8rem/3.2rem $heading;
      }
      .title {
        padding: 0 0 20px 0;
        h3 {
          color: $mid-green;
          span.word1 {
            color: $white;
          }
        }
      }
    }
  }
}

.stat_section {
  .container {
    width: 100%;
  }
  .stats {
    @media (min-width: $breakpoint-tablet) {
      display: flex;
    }
  }
  .stat {
    text-align: center;
    width: 100%;
    padding: $padding $padding-half;
    @media (min-width: $breakpoint-tablet) {
      width: 25%;
      padding: 120px $padding-half;
    }
    margin-left: 0;
    
    &.white {
      background: #F8FBFA;
      span.unit {
        color: $light-green;
      }
    }
    &.grey {
      background: $white-bg;
      span.unit {
        color: $light-green;
      }
    }
    &.green {
      background: $light-green;
      span.unit {
        color: $white;
      }
    }
    span.unit {
      font: $bold 5.4rem/5.4rem $heading;
      display: block;
      margin-bottom: 5px;
    }
    span.description {
      font: $bold 1.8rem/2.4rem $heading;
      display: block;
      text-transform: uppercase;
    }
  }
}

.our_products {
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) { 
    padding: $padding-half 0 $padding 0;
  }
  .title {
    
  }
  article {
    background: url('../img/placeholder.jpg') center center no-repeat;
    background-size: cover;
    margin-bottom: $padding-half;
    @media (min-width: $breakpoint-tablet) { 
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .content {
      min-height: 200px;
      border-top: 5px solid $light-green;
      background: $white;
      margin: 40px;
      padding: 20px;
      h4 {
        font: $bold 1.6rem/3.2rem $heading;
        text-transform: uppercase;
      }
    }
    &:hover {
      cursor: pointer;
      .content {
        padding: 60px;
        margin: 0;
        background: $light-green;
        opacity: 0.8;
      }
    }
  }
}

.tabbed_section {
  background: $white-bg;
  padding: $padding-half 0;
  .tab_menu {
    border-bottom: 2px solid $table-grey;
    width: 100%;
    clear: both;
    button {
      min-width: 25%;
      font: $bold 1.6rem/3.2rem $heading;
      text-transform: uppercase;
      color: $dark-grey;
      margin-bottom: -2px;
      cursor: pointer;
      background: none;
      padding: 8px 16px;
      float: left;
      width: auto;
      border: none;
      display: block;
      outline: 0;
      &:hover, &.active {
        color: $mid-green;
        border-bottom: 5px solid $mid-green;
      }
    }
  }
  article {
    margin: $padding-half 0;
  }
}

.careers_cta {
  background: $white-bg;
  margin: 0px auto;
  .container {
    width: 100%;
    display: flex;
  }
  
  .cta_background {
    background: url('../img/placeholder.jpg') center center no-repeat;
    background-size: cover;
    content: "";
    height: auto;
    min-height: 540px;
    width: 50%;
    @media (min-width: $breakpoint-tablet) {
      width: 75%;
    }
    max-width: 1600px;
  }
  .cta_content {
    background: $white-bg;
    width: 50%;
    @media (min-width: $breakpoint-tablet) {
      width: 25%;
      max-width: 600px;
    }
    text-align: left;
    .content {
      padding: 30px 40px;
      max-width: 400px;
      h4 {
        font: $bold 1.6rem/3.2rem $heading;
        text-transform: uppercase;
      }
    }
  }
}

.text_section {
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  p {
    font: $normal 2.2rem/3.2rem $heading;
    @media (min-width: $breakpoint-tablet) {
      font: $normal 3.4rem/5.4rem $heading;
    }
    background: -webkit-linear-gradient(to right, #29BA74, #197A56);
    background: linear-gradient(to right, #29BA74, #197A56);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

section {
  .title {
    padding: 0 0 $padding-half 0;
    h3 {
      font: $bold 2.2rem/3.2rem $heading;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 3.2rem/4.2rem $heading;
      }
      text-transform: uppercase;
      margin: 0;
      color: $mid-green;
      span.word1 {
        color: $black;
      }
    }
  }
}
