/* Buttons 
    
<a href="#" class="button primary">Get a quote</a>
<a href="#" class="button secondary">Get a quote</a>

*/

.button {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding:15px 0px 15px 0px;
  margin: 0px 10px 0px 0;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  @include border-radius(10px);
  font: $bold 1.2rem/1.2rem $heading;
  @media (min-width: $breakpoint-tablet) {
    font: $bold 1.4rem/1.4rem $heading;
  }
  &:before {
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    margin-right: 10px;
    font: $bold 1.4rem/1.4rem $heading;
    content: "→";
    color: $light-green;
  }
  &:hover {
    &:before {
      
      margin-right: 6px;
      margin-left: 4px;
    }
  }
  &.white {
    padding: 15px;
    background: $white;
    color: $mid-green;
    &:hover {
      background: $dark-green;
      color: $white;
      &:before {
        color: $white;
      }
    }
  }
  &.alt {
    padding: 15px 20px;
    border-radius:20px;
    background: $mid-green;
    color: $white;
    border: 1px solid $mid-green;
    &:hover {
      background: $white;
      color: $mid-green;
      border: 1px solid $mid-green;
    }
    &.blank {
      background: $white;
      color: $mid-green;
      border: 1px solid $mid-green;
      &:hover {
        background: $mid-green;
        color: $white;
      }
    }
    &:before {
      display: none;
    }
  }
  &.trigger {
    text-align: center;
    background: $light-green;
    color: $white;
    padding: 15px;
    &:before {
      margin-right: 10px;
      font: $bold 1.4rem/1.4rem $heading;
      content: "↓";
      color: $white;
    }
    &.open {
      &:before {
        content: "↑";
      }
    }
    &:hover {
      background: $dark-green;
    }
  }
  
}