/* Buttons 
    
<a href="#" class="button primary">Get a quote</a>
<a href="#" class="button secondary">Get a quote</a>

*/

.button {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding:15px 0px 15px 0px;
  margin: 0px 10px 0px 0;
  font: $bold 1.2rem/1.2rem $heading;
  @media (min-width: $breakpoint-tablet) {
    font: $bold 1.4rem/1.4rem $heading;
  }
  
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  @include border-radius(10px);
  &:before {
    margin-right: 10px;
    font: $bold 1.4rem/1.4rem $heading;
    content: "→";
    color: $light-green;
  }
  &.trigger {
    text-align: center;
    background: $light-green;
    color: $white;
    padding: 15px;
    &:before {
      margin-right: 10px;
      font: $bold 1.4rem/1.4rem $heading;
      content: "↓";
      color: $white;
    }
    &.open {
      &:before {
        content: "↑";
      }
    }
    &:hover {
      background: $dark-green;
    }
  }
  
}