// About

section.team_img {
  height: 400px;
}

section.hero.profile {
  padding: 15px 0;
  background: $dark-green;
  .breadcrumbs {
    text-transform: uppercase;
    font: $normal 1.1rem/2.4rem $heading;
    letter-spacing: 1px;
    color: $white;
    a {
      color: $white;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    span {
      margin: 0 10px;
    }
  }
}

.team {
  .title {
    h1 {
      text-transform: uppercase;
      margin: 0;
      color: $mid-green;
      font: $normal 2.0rem/3.2rem $heading;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 3.2rem/4.2rem $heading;
      }
      span.word1 {
        color: $black;
      }
    }
  }
  &.about {
    background: $white;
    padding: $padding-half 0;
    @media (min-width: $breakpoint-tablet) {
      padding: 60px 0;
    }
    h3.team_heading {
      border-bottom: 1px solid #c1c1c1;
      display: block;
      clear: left;
      flex: 100%;
      padding-bottom: 10px;
      margin: 40px 0 10px 0;
      font: $bold 1.6rem/2.8rem $heading;
      text-transform: uppercase;
      color: $black;
      &:first-of-type {
        margin: 0 0 10px 0;
      }
    }

    .flex {
      @include flexbox();
      flex-wrap: wrap;
      // justify-content: center;
      align-content: space-between;
      gap: 10%;
      @media (min-width: $breakpoint-laptop) {
        gap: 5%;
      }
      @media (min-width: $breakpoint-desktop) {
        gap: 4%;
      }
    }
    

    article.team_member {
      overflow: hidden;
      box-sizing: border-box;
      align-items: flex-start;
      align-self: flex-start;
      margin: 20px 0;
      box-sizing: border-box;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 45%;
      @media (min-width: $breakpoint-laptop) {
        flex-basis: 30%; 
      }
      @media (min-width: $breakpoint-desktop) {
        flex-basis: 22%; 
      }
      .image {
        @include aspect-ratio(1,1);
        margin: 0 auto 20px auto;
        background-size: cover;
        transition: border ease 1s;
        border: 1px solid transparent;
        &:hover {
          background-blend-mode: multiply;
        }
      }
      
      p {
        // text-align: center;
        font: $normal 1.5rem/2.1rem $regular;
        color: #737772;
      }
      strong.name {
        color: $dark-green;
      }
    }
    
    .image {
      @media (max-width: $breakpoint-tablet) {
        margin-bottom: 20px;
      }
    }
    
  }
}

body.single-profile {
  .content {
    strong.name {
      color: $dark-green;
      font: $normal 2.0rem/3.2rem $heading;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 3.2rem/4.2rem $heading;
      }
    }
    strong {
      color: #737772;
      font: $normal 2.0rem/3.2rem $heading;
    }
    em {
      font: $normal 2.0rem/3.2rem $heading;
    }
    .contact {
      background: #F0F0F0;
      padding: 20px;
    }
    p.phone, p.email {
      font: $normal 1.6rem/2.4rem $heading;
      svg {
        height: 24px;
        width: 24px;
        margin-bottom: -5px;
        margin-right: 15px;
      }
    }
  }
}
