// News

.application_section {
  background: $white;
  padding: $padding-half 0;
  .row {
    @media (min-width: $breakpoint-tablet) {
      display: flex;
    }
  }
  .tab {
    padding: 40px;
    background: $white-bg;
    border-top: 8px solid $light-grey;
    &:hover {
      border-top: 8px solid $light-green;
    }
    h4 {
      font: $bold 1.8rem/2.4rem $heading;
      text-transform: uppercase;
    }
    .icon {
      max-width: 50%;
      margin: 0px auto 40px auto;
    }
  }
}



.careers_archive {
  padding: 0 0 $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  .container {
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  article.standard {
    position: relative;
    @media (min-width: $breakpoint-tablet) {
      display: flex;
    }
    overflow: hidden;
    clear: both;
    padding-bottom: $padding;
    @media (max-width: $breakpoint-tablet) {
      &:last-of-type {
        padding-bottom: 0;
        &:after {
          display: none;
        }
      }
    }
    &.no_positions {
      padding: 0;
    }
    .item_image {
      overflow: hidden;
      margin-bottom: 20px;
      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 0px;
        img {
          @include border-radius(20px);
        }
      }
      
    }
    .item_content {
      color: $black;
      @media (max-width: $breakpoint-tablet) {
        padding: 0 20px;
      }
      h3 {
        font: $normal 2.4rem/3.2rem $bold;
        margin-bottom: 10px;
        color: $dark-green;
        text-decoration: none;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 2.8rem/3.8rem $bold;
          margin-bottom: 10px;
        }
        @media (min-width: $breakpoint-desktop) {
          font: $normal 3.6rem/4.6rem $bold;
          margin-bottom: 20px;
        }
        a {
          color: $dark-green;
          text-decoration: none;
        }
      }
      p {
        font: $normal 1.6rem/2.8rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 1.8rem/3.0rem $regular;
        }
        @media (min-width: $breakpoint-desktop) {
          font: $normal 2.0rem/3.2rem $regular;
        }
        margin-bottom: 20px;
      }
    }
    @media (max-width: $breakpoint-tablet) {
      &:after {
        position: absolute;
        content: "";
        width: 70px;
        height: 1px;
        bottom: 40px;
        left: 50%;
        background: #737772;
        transition: transform .5s;
        transform: translateX(-50%);
        transform-origin: left;
      }
    }
    @media (min-width: $breakpoint-tablet) {
      &:nth-child(even) {
        .item_content {
          margin-left: 0%;
          order: 1;
        }
        .item_image {
          margin-left: 4%;
          order: 2;
        }
      }
    }
  }
  // Pagination
  .pagination {
    ul {
      margin: 0;
      li {
        a {
          background: $white;
          border: 2px solid $orange;
          color: $orange;
          text-decoration: none;
          &:hover {
            background: $orange;
            color: $white;
          }
        }
        &.active {
          a {
            background: $orange;
            @include border-radius(10px);
            border: 1px solid $orange;
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
  
}
.apply {
  margin: 30px 0;
  @media (min-width: $breakpoint-tablet) {
    margin: 0 0 30px 0;
  }
  h2 {
    color: $dark-green;
    padding-bottom: 10px;
    border-bottom: 1px solid #b2b2b2;
    font: $normal 2.4rem/3.2rem $bold;
    @media (min-width: $breakpoint-tablet) {
      font: $normal 3.6rem/4.6rem $bold;
    }
  }
  a {
    color: $dark-green;
    text-decoration-color: $dark-green;
  }
  ul {
    li {
      list-style: none;
      margin: 5px 0;
    }
  }
}
.careers_terms {
  background: #f4f1ea;
  @include border-radius(10px);
  padding: 30px;
  p {
    font: $normal 1.6rem/2.4rem $regular;
  }
  a {
    color: $dark-green;
    text-decoration-color: $dark-green;
  }
}
.other_jobs {
  margin-top: 30px; 
  h3 {
    color: $dark-green;
    padding-bottom: 10px;
    border-bottom: 1px solid #b2b2b2;
    font: $normal 2.4rem/3.2rem $bold;
    @media (min-width: $breakpoint-tablet) {
      font: $normal 2.4rem/3.2rem $bold;
    }
  }
  ul {
    font: $normal 1.6rem/2.8rem $regular;
    li {
      margin: 5px 0 5px 20px;
      a {
        color: $dark-green;
        text-decoration-color: $dark-green;
      }
    }
  }
}