// News

.application_section {
  background: $white-bg;
  padding: $padding-half 0;
  .row {
    @media (min-width: $breakpoint-tablet) {
      display: flex;
    }
  }
  .tab {
    background: $white;
    border-top: 8px solid $light-grey;
    padding: 40px;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;
      padding: 40px;
    }
    &:hover {
      border-top: 8px solid $light-green;
    }
    h4 {
      font: $bold 1.8rem/2.4rem $heading;
      text-transform: uppercase;
    }
    .icon {
      max-width: 50%;
      margin: 0px auto 40px auto;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.hero.careers {
  h1 {
    font: $medium 3.8rem/4.4rem $heading;
    color: $white;
    background: $mid-green;
    padding: 15px 20px;
    display: inline-block;
  }
}

.post.careers {
  background: $white-bg;
}


.open_speculative {
  text-align: center;
}
.speculative {
  height: 0;
  display: none;
  overflow: hidden;
  background: $light-green;
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  .title {
    text-align: center;
    h3 {
      color: $white;
    }
    p {
      color: $white;
    }
  }
  p.terms {
    margin-top: 20px;
    color: $white;
    font: $normal 1.0rem/1.6rem $heading;
  }
  .form {
    box-sizing: border-box;
    select, input[type="text"],input[type="email"], textarea {
      box-sizing: border-box;
      width: 100%;
      font: $normal 1.4rem/2.6rem $heading;
      @include border-radius(5px);
      background: transparent;
      border: 2px solid $white;
      background: #2dc87c;
      padding: 10px;
      color: $white;
      &:focus {
        border: 1px solid $light-green;
      }
    }
    span.wpcf7-not-valid-tip {
      font: $bold 1.4rem/2.6rem $heading;
      padding: 10px 0 0 0;
      color: #ce1616;
    }
    .wpcf7-response-output {
      @include border-radius(5px);
      font: $normal 1.4rem/2.6rem $heading;
      padding: 20px;
      background: #ce1616;
      color: $white;
      border: none;
      margin: 20px 0;
      text-align: center;
    }
    input.wpcf7-submit, input.wpcf7-file {
      box-sizing: border-box;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      padding: 10px 20px;
      font: $medium 1.2rem/2.6rem $heading;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: all ease .5s;
      -moz-transition: all ease .5s;
      -o-transition: all ease .5s;
      transition: all ease .5s;
      @include border-radius(10px);
      color: $white;
      background: transparent;
      border: 2px solid $white;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: $white;
        border: 2px solid $dark-green;
        background: $dark-green;
      }
    }
    input.wpcf7-submit {
      float: right;
    }
  }
}

.careers_archive {
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0 $padding 0;
  }
  .title {
    text-align: center;
  }
  article.career {
    padding: $padding-half 0;
    border-top: 1px solid $table-grey;
    .item_content {
      color: $black;
      @media (max-width: $breakpoint-tablet) {
        padding: 0 20px;
      }
      h3 {
        font: $bold 1.8rem/2.4rem $heading;
        margin-bottom: 10px;
        color: $dark-green;
        text-decoration: none;
        text-transform: uppercase;
        a {
          color: $dark-green;
          text-decoration: none;
          padding: 10px 0;
        }
      }
      p {
        margin-bottom: 0px;
        font: $normal 1.6rem/2.8rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 1.8rem/3.0rem $regular;
        }
      }
    }
    &:last-child {
      border-bottom: 1px solid $table-grey;
    }
  }
  // Pagination
  .pagination {
    ul {
      margin: 0;
      li {
        a {
          background: $white;
          border: 2px solid $orange;
          color: $orange;
          text-decoration: none;
          &:hover {
            background: $orange;
            color: $white;
          }
        }
        &.active {
          a {
            background: $orange;
            @include border-radius(10px);
            border: 1px solid $orange;
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
  
}
.apply {
  margin: 30px 0;
  @media (min-width: $breakpoint-tablet) {
    margin: 0 0 30px 0;
  }
  h2 {
    color: $dark-green;
    padding-bottom: 10px;
    border-bottom: 1px solid $table-grey;
    font: $bold 1.8rem/2.4rem $heading;
    text-transform: uppercase;
  }
  a {
    color: $dark-green;
    text-decoration-color: $dark-green;
  }
  ul {
    li {
      list-style: none;
      margin: 5px 0;
    }
  }
}
.careers_equal {
  background: $mid-green;
  @include border-radius(10px);
  padding: 30px;
  p {
    color: $white;
  }
  a {
    color: $white;
    text-decoration-color: $white;
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}
.other_jobs {
  margin-top: 30px; 
  h3 {
    color: $dark-green;
    padding-bottom: 10px;
    border-bottom: 1px solid $table-grey;
    font: $bold 1.8rem/2.4rem $heading;
    text-transform: uppercase;
  }
  ul {
    font: $normal 1.6rem/2.8rem $regular;
    li {
      margin: 5px 0 5px 20px;
      a {
        color: $dark-green;
        text-decoration-color: $dark-green;
      }
    }
  }
}