// Contact

.map {
  background: $table-grey;
  padding: 0;
  position: relative;
  .title {
    text-align: center;
    padding: $padding-half 0;
  }
  .map_container {
    position: absolute;
    left: 50%;
    -webkit-transform: translate3d(-50%,0,0);
    -ms-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
    position:relative;
    display: inline-block;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
  }
  .map-marker {
    position: absolute;
    text-decoration:none;
    span {
      position:relative;
    }
    &:before {
      content: "";
      height: 26px;
      width: 17px;
      background-size: 26px 17px;
      @media (min-width: $breakpoint-tablet) {
        height: 51px;
        width: 33px;
      }
      background: url('../img/map-marker.svg') center center no-repeat;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      transform: translateY(-50%);
    }
    &:hover, &.active {
      &:before {
        background: url('../img/map-marker-green.svg') center center no-repeat;
        animation: next ease-in-out 1.5s;
        animation-iteration-count: infinite;
      }
    }
  }
  #London {
    top: 18.5%;
    left: 45%;
  }
  #New-York {
    top: 23%;
    left:29%;
  }
  #Singapore {
    top: 57.5%;
    left: 74.7%;
  }
}
.map_offices {
  background: $white-bg;
  .container {
    width: 100%;
    padding: 0;
  }
  .offices {
    display: flex;
    .office {
      cursor: pointer;
      transition: background linear 0.5s;
      position: relative;
      padding: $padding;
      width: 33%;
      box-sizing: border-box;
      background: $white-bg;
      address {
        font: $medium 1.6rem/2.4rem $heading;
        margin-bottom: 10px;
      }
      h3 {
        font: $medium 2.2rem/3.2rem $heading;
        color: $black;
      }
      a.phone, a.email {
        font: $medium 1.6rem/2.4rem $heading;
        color: $black;
        text-decoration-color: $black;
        &:hover {
          color: $light-green;
          text-decoration-color: $light-green;
        }
      }
      a.button {
        margin: 20px 0 0 0;
        cursor: pointer;
      }
      &:nth-child(odd) {
        background: $white;
      }
      &.active {
        background: $light-green;
        transition: background linear 0.5s;
        a.phone, a.email {
          &:hover {
            color: $white;
            text-decoration-color: $white;
          }
        }
      }
    }
    
  }
}

section.image_offices {
  position: relative;
  min-height: 800px;
  .office_image {
    width: 100%;
    min-height: 800px;
    position: absolute;
    background: url('../img/placeholder_two.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity linear 0.5s;
    &.newyork {
      background: url('../img/newyork.jpg') center center no-repeat;
      background-size: cover;
      opacity: 0;
    }
    &.london {
      background: url('../img/london.jpg') center center no-repeat;
      background-size: cover;
      opacity: 0;
    }
    &.singapore {
      background: url('../img/singapore.jpg') center center no-repeat;
      background-size: cover;
      opacity: 0;
    }
    &.active {
      opacity: 1;
      transition: opacity linear 0.5s;
    }
  }
}

@keyframes next {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: -5px;
  }
  40% {
    margin-top: 0;
  }
}