// Contact

.map {
  background: $table-grey;
  padding: $padding 0 20px 0;
  position: relative;
  .map_container {
    position: absolute;
    left: 50%;
    -webkit-transform: translate3d(-50%,0,0);
    -ms-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
    position:relative;
    display: inline-block;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
  }
  .map-marker {
    position: absolute;
    text-decoration:none;
    span {
      position:relative;
    }
    &:before {
      animation: next ease-in-out 1s;
      animation-iteration-count: infinite;
    content: "";
    height: 26px;
    width: 17px;
    background-size: 26px 17px;
    @media (min-width: $breakpoint-tablet) {
      height: 51px;
      width: 33px;
    }
    background: url('../img/map-marker.svg') center center no-repeat;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    transform: translateY(-50%);
    }
    &:hover, &.active {
      &:before {
        background: url('../img/map-marker-green.svg') center center no-repeat;
      }
    }
  }
  #London {
    top: 13%;
    left: 45%;
  }
  #New-York {
    top: 18%;
    left:29%;
  }
  #Singapore {
    top: 52%;
    left: 75%;
  }
}
.map_offices {
  background: $white-bg;
  .container {
    width: 100%;
    padding: 0;
  }
  .offices {
    display: flex;
    .office {
      transition: background linear 0.5s;
      position: relative;
      padding: $padding;
      width: 33%;
      box-sizing: border-box;
      background: $white-bg;
      address {
        font: $medium 1.6rem/2.4rem $heading;
        margin-bottom: 10px;
      }
      h3 {
        font: $medium 2.2rem/3.2rem $heading;
        color: $black;
      }
      a.phone, a.email {
        font: $medium 1.6rem/2.4rem $heading;
        color: $black;
        text-decoration-color: $black;
        &:hover {
          color: $light-green;
          text-decoration-color: $light-green;
        }
      }
      a.button {
        margin: 20px 0 0 0;
        cursor: pointer;
      }
      &:nth-child(odd) {
        background: $white;
      }
      &.active {
        background: $light-green;
        transition: background linear 0.5s;
        a.phone, a.email {
          &:hover {
            color: $white;
            text-decoration-color: $white;
          }
        }
      }
    }
    
  }
}

@keyframes next {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -5px;
  }
  100% {
    margin-top: 0;
  }
}