// Contact

.map {
  background: $table-grey;
  padding: 0;
  position: relative;
  .title {
    text-align: center;
    padding: 20px 0 0 0;
    @media (min-width: $breakpoint-tablet) {
      padding: $padding-half 0;
    }
  }
  .map_container {
    position: absolute;
    left: 50%;
    -webkit-transform: translate3d(-50%,0,0);
    -ms-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
    position:relative;
    display: inline-block;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
  }
  .map-marker {
    position: absolute;
    text-decoration:none;
    span {
      position:relative;
    }
    &:before {
      content: "";
      height: 26px;
      width: 17px;
      background-size: 26px 17px;
      background-size: contain;
      background: url('../img/map-marker.svg') center center no-repeat;
      background-size: cover;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      transform: translateY(-50%);
      @media (min-width: $breakpoint-tablet) {
        height: 51px;
        width: 33px;
      }
    }
    &:hover, &.active {
      &:before {
        background: url('../img/map-marker-green.svg') center center no-repeat;
        background-size: cover;
        animation: next ease-in-out 1.5s;
        animation-iteration-count: infinite;
      }
    }
  }
  #London {
    top: 18.5%;
    left: 44.5%;
  }
  #New-York {
    top: 24.4%;
    left:26.5%;
  }
  #Singapore {
    top: 57.5%;
    left: 74.7%;
  }
  #Delhi {
    top: 42.5%;
    left: 66.7%;
  }
  #Toronto {
    top: 21.5%;
    left:25.2%;
  }
  #Frankfurt {
    top: 20.5%;
    left: 46.5%;
  }
}
.map_offices {
  background: $white-bg;
  .container {
    width: 100%;
    padding: 0;
  }
  .offices {
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      flex-wrap: wrap;
    }
    .office {
      cursor: pointer;
      transition: background linear 0.5s;
      position: relative;
      padding: 20px $padding-half;
      width: 100%;
      box-sizing: border-box;
      background: $white-bg;
      @media (min-width: $breakpoint-tablet) {
        flex: 1 1 33.3%;
        box-sizing: border-box;
        padding: $padding-half 60px;
      }
      address {
        font: $medium 1.4rem/2.0rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $medium 1.6rem/2.4rem $heading;
        }
      }
      h3 {
        color: $black;
        font: $medium 1.8rem/2.8rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $medium 2.2rem/3.2rem $heading;
        }
      }
      a.phone, a.email {
        color: $black;
        text-decoration-color: $black;
        font: $medium 1.4rem/2.0rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $medium 1.6rem/2.4rem $heading;
        }
        &:hover {
          color: $light-green;
          text-decoration-color: $light-green;
        }
      }
      a.button {
        margin: 20px 0 0 0;
        cursor: pointer;
      }
      &:nth-child(odd) {
        background: $white;
      }
      &.active {
        background: $light-green;
        transition: background linear 0.5s;
        a.phone, a.email {
          &:hover {
            color: $white;
            text-decoration-color: $white;
          }
        }
      }
    }
    
  }
}

section.image_offices {
  position: relative;
  min-height: 400px;
  @media (min-width: $breakpoint-tablet) {
    min-height: 800px;
  }
  .office_image {
    width: 100%;
    position: absolute;
    background: url('../img/placeholder_two.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity linear 0.5s;
    min-height: 400px;
    @media (min-width: $breakpoint-tablet) {
      min-height: 800px;
    }
    &.newyork  {
      background-size: cover;
      opacity: 0;
    }
    &.london {
      background-size: cover;
      opacity: 0;
    }
    &.singapore {
      background-size: cover;
      opacity: 0;
    }
    &.delhi {
      background-size: cover;
      opacity: 0;
    }
    &.toronto {
      background-size: cover;
      opacity: 0;
    }
    &.frankfurt {
      background-size: cover;
      opacity: 0;
    }
    &.active {
      opacity: 1;
      transition: opacity linear 0.5s;
    }
  }
}

@keyframes next {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: -5px;
  }
  40% {
    margin-top: 0;
  }
}