// News

section.news_image {
  height: 400px;
}

section.news {
  padding: $padding-half 0;
  article.item {
    padding: $padding-half 0 0 0;
    &:nth-child(2) {
      clear: left;
      margin-left: 0%;
    }
    &:nth-child(5) {
      clear: left;
      margin-left: 0%;
    }
    &:nth-child(8) {
      clear: left;
      margin-left: 0%;
    }
    .item_content {
      background: $white-bg;
      padding: 30px;
      
      p.date {
        font: $bold 1.4rem/2.0rem $heading;
      }
      h3 {
        margin-bottom: 0;
        a {
          font: $bold 2.4rem/3.2rem $heading;
          
        }
      }
    }
    &.featured {
      display: flex;
    }
  }
}

a.category_tag {
  margin: 0 0 10px 0;
  font: $bold 1.4rem/2.0rem $heading;
  text-transform: uppercase;
  background: $light-green;
  color: $white;
  padding: 5px 20px;
  display: inline-block;
  text-decoration: none;
}