// Product Filter
.product_filter {
  background: $mid-green;
  margin: 0px auto;
  .container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-laptop) {
      flex-direction: row;
    }
  }
  .square_background {
    background-size: cover;
    content: "";
    height: auto;
    min-height: 300px;
    width: 100%;
    position: relative;
    transition: opacity 0.4s ease-in-out;
    @media (min-width: $breakpoint-laptop) {
      order: 2;
    }
    @media (min-width: $breakpoint-laptop) {
      width: 50%;
      min-height: 540px;
    }
    .preview-logo {
      position: absolute;
      max-width: 50%;
      @include center-align();
      opacity: 1;
      transition: opacity 0.4s ease-in-out;
    }
    // Product Overlay
    
    .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.8);
      @include border-radius(20px);
      text-align: left;
      min-width: 400px;
      width: 90%;
      @media (min-width: $breakpoint-laptop) {
        width: 50%;
        min-width: 500px;
      }
      .overlay-content {
        
        padding: 20px;
        color: $white;
        @media (min-width: $breakpoint-laptop) {
          padding: 30px;
        }
        h3 {
          color: $white;
          font: $bold 1.6rem/2.6rem $heading;
          @media (min-width: $breakpoint-laptop) {
            font: $normal 2.0rem/3.2rem $heading;
          }
        }
        p {
          font: $normal 1.4rem/2.4rem $heading;
          @media (min-width: $breakpoint-laptop) {
            font: $normal 1.6rem/2.6rem $heading;
          }
        }
        a.button {
          color: $white;
          &:hover {
            color: $mid-green;
          }
        }
      }
    }
    
  }
  .square_content {
    height: auto;
    background: $mid-green;
    width: 100%;
    text-align: left;
    @media (min-width: $breakpoint-laptop) {
      order: 1;
      position: relative;
      width: 50%;
    }
    .filter-controls {
      select {
        padding: 10px 15px;
        font-size: 16px;
        @include border-radius(10px);
        border: 1px solid $black;
        margin-right: 0%;
        margin-top: 10px;
        width: 100%;
        box-sizing: border-box;
        appearance: none;
        background: #7acb9c url('../img/arrow_down.svg') no-repeat right 15px center;
        color: $black;
        background-size: 1rem;
        position: relative;
        z-index: 10;
        font: $medium 1.3rem/2.2rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $medium 1.6rem/2.4rem $heading;
          margin-right: 2%;
          width: 45%;
        }
        option {
          background: $dark-green;
          color: $white;
        }
        &.active {
          border: 1px solid $dark-green;
          background: $dark-green;
          background-size: 1rem;
          color: $white;
        }
      }
    }
    .content {
      padding: 30px;
      @media (min-width: $breakpoint-laptop) {
        @include vertical-align;
        padding: 60px;
      }
      h1 {
        margin-bottom: 10px;
        color: $white;
        font: $bold 2.2rem/3.2rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 3.2rem/4.2rem $heading;
        }
      }
      p {
        margin-bottom: 20px;
        color: $white;
        font: $normal 1.4rem/2.8rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 2.2rem/3.2rem $heading;
          margin-bottom: 40px;
        }
      }
      .title {
        padding: 0 0 10px 0;
        @media (min-width: $breakpoint-tablet) {
          padding: 0 0 20px 0;
        }

      }
      a {
        color: $white;
        &:before {
          color: $black;
        }
        &:hover {
          color: $black;
        }
      }
    }
  }
}
// Select Box JS styling
.ss-main {
  position: relative;
  width: 100%;
  font: $medium 1.3rem/2.2rem $heading;
  margin: 0 0 20px 0;
  text-overflow: ellipsis;
  @media (min-width: $breakpoint-tablet) {
    font: $medium 1.6rem/2.4rem $heading;
    width: 49%;
    margin: 0;
    margin-right: 2%;
    float: left;
  }
  &:last-child {
    margin: 0;
  }
  &:focus {
    border: 1px solid #50a071;
    box-shadow: none;
  }
  .ss-values {
    padding-right: 30px; /* gives room for arrow */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .ss-single {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .ss-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
.ss-option {
  background: $white;
  &.ss-selected, &:hover {
    color: $black !important;
  }
}

/* Firefox */
.ss-content,
.ss-content .ss-list {
  scrollbar-width: thin;
  scrollbar-color: #50a071 transparent;
}

/* WebKit (Chrome, Edge, Safari) */
.ss-content::-webkit-scrollbar,
.ss-content .ss-list::-webkit-scrollbar {
  width: 6px;
}

.ss-content::-webkit-scrollbar-thumb,
.ss-content .ss-list::-webkit-scrollbar-thumb {
  background: #50a071;
  border-radius: 6px;
}

.ss-content::-webkit-scrollbar-track,
.ss-content .ss-list::-webkit-scrollbar-track {
  background: transparent;
}
.ss-placeholder {
  color: #333333 !important;
}
.variable-showcase {
  /* Colors */
  --ss-primary-color: #50a071;
  --ss-bg-color: #7acb9c;
  --ss-border-color: #333333;
  --ss-border-radius: 10px;

  /* Heights */
  --ss-main-height: 50px;
  --ss-option-height: auto;
  --ss-content-height: 300px;
  /* Spacing */
  --ss-spacing-l: 9px;
  --ss-spacing-m: 7px;
  --ss-spacing-s: 5px;
  --ss-animation-timing: 0.2s;
}

// Hero
section.offering.hero {
  border-top: 10px solid $light-green;
  background: #F1EEEA;
  padding: 20px 0;
  @media (min-width: $breakpoint-tablet) { 
    padding: $padding-half 0;
  }
  span.kicker {
    letter-spacing:0.1rem;
    font: $medium 1.4rem/2.2rem $heading;
    text-transform:uppercase;
    color: $mid-green;
    display: block;
    margin-bottom: 10px;
    @media (min-width: $breakpoint-tablet) { 
      margin-bottom: 20px;
    }
  }
  h1 {
    color: $black;
    font: $bold 2.6rem/3.6rem $heading;
    margin-bottom: 10px;
    @media (min-width: $breakpoint-tablet) { 
      font: $bold 3.8rem/5.0rem $heading;
      margin-bottom: 20px;
    }
    @media (min-width: $breakpoint-laptop) { 
      font: $bold 5.6rem/7.0rem $heading;
    }
  }
  p {
    font: $medium 1.6rem/2.6rem $heading;
    @media (min-width: $breakpoint-tablet) { 
      font: $medium 2.4rem/3.4rem $heading;
    }
    
  }
  .card.jump {
    padding: 20px;
    label {
      letter-spacing:0.1rem;
      font: $medium 1.4rem/2.2rem $heading;
      text-transform:uppercase;
      color: $mid-green;
      display: block;
      margin-bottom: 20px;
    }
    select {
      background: $white;
      border: 1px solid $light-green;
      padding: 10px;
      @include border-radius(5px);
      margin-right: 10px;
      font: $medium 1.6rem/2.2rem $heading;
    }
    .button {
      padding: 13px 10px;
      width: 80px;
      text-align: center;
      @include border-radius(5px);
      cursor: pointer;
    }
  }
}

@media (min-width: $breakpoint-tablet) { 
  .offering.modules {
    .container {
      opacity: 1;
    }
    h2, p {
      @include fade();
    }
    .service-card {
      @include fade();
    }
    &.visible {
      h2, p {
        @include reset();
      }
      .service-card {
        @include reset();
        @include delay-children();
      }
    }
  }
}

// Background Image
.offering.image {
  background: $mid-green;
  min-height: 280px;
  @media (min-width: $breakpoint-tablet) { 
    min-height: 420px;
  }
  .background {
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 280px;
    @media (min-width: $breakpoint-tablet) { 
      min-height: 420px;
    }
    .elogo {
      max-height: 120px;
      padding: 90px 0;
      width: auto;
      margin: 0px auto;
      @media (min-width: $breakpoint-tablet) { 
        padding: 120px 0 200px 0;
      }
    }
  }
}

// Modules
.offering.modules {
  padding: 20px 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding-half 0;
  }
  .container {
    margin-top: -120px;
    @media (max-width: $breakpoint-tablet) {
      margin-top: 0;
      width: 100%;
      padding: 0px;
    }
  }
  .intro {
    background: #FBFAF7;
    @include border-radius(10px 10px 0 0);
    padding: 0px 30px 20px 30px;
    @media (min-width: $breakpoint-tablet) {
      padding: 30px 40px 40px 40px;
    }
    h2 {
      color: $black;
      margin-bottom: 10px;
      font: $bold 2.2rem/3.2rem $heading;
      @media (min-width: $breakpoint-tablet) { 
        font: $bold 3.2rem/4.6rem $heading;
      }
    }
    p {
      font: $medium 1.6rem/2.6rem $heading;
      @media (min-width: $breakpoint-tablet) { 
        font: $medium 1.8rem/2.8rem $heading;
      }
    }
  }
  
  .row {
    @media (min-width: $breakpoint-laptop) { 
      display: flex;
    }
  }
  .row + .row {
    padding: 40px 0 0 0;
  }
  article {
    display: flex;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) { 
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
      color: $black;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .content {
      box-sizing: border-box;
      border-top: 5px solid $light-green;
      background: $white;
      margin: 20px;
      padding: 20px;
      @media (min-width: $breakpoint-tablet) { 
        max-height: 100%;
        min-height: 300px;
        margin: 40px;
        padding: 20px;
      }
      span.type {
        font: $bold 1.2rem/1.8rem $heading;
        text-transform: uppercase;
        color: $light-grey;
        letter-spacing: 2px;
        display: block;
        margin-bottom: 5px;
      }
      h4 {
        font: $bold 1.6rem/2.0rem $heading;
        text-transform: uppercase;
      }
      p, ul {
        font: $normal 1.4rem/2.0rem $regular;
        @media (min-width: $breakpoint-tablet) { 
          font: $normal 1.6rem/2.4rem $regular;
        }
      }
      ul {
        margin-bottom: 0;
      }
      .button {
        -webkit-transition: all ease 0s;
        -moz-transition: all ease 0s;
        -o-transition: all ease 0s;
        transition: all ease 0s;
      }
    }   
  
    &:hover, &.active {
      a > .content {
        background: $light-green;
        opacity: 0.85;
        h4, span, p, ul, li {
          color: $white;
        }
        .button {
          color: $white;
          &:before {
            color: $white;
          }
        }
      }
    }
  }
}

.hidden-section {
  display: none;
}

// Problem
.offering.problem {
  background: #FBFAF7;
  padding: 20px 0 $padding-half 0;
  
  .product {
    margin: 0 0 $padding-half 0;
    padding: 20px;
    @media (min-width: $breakpoint-tablet) {
      padding: 40px;
    }
    .content {
      background: $white_bg;
      border-top: 8px solid $light-green;
      background: rgba(240, 240, 240, 0.90);
      padding: 20px;
      @media (min-width: $breakpoint-tablet) {
        padding: 30px 40px;
      }
      h3 {
        text-transform: uppercase;
        color: $black;
        font: $bold 1.8rem/3.2rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 2.4rem/3.6rem $heading;
        }
        span {
          color: $mid-green;
        }
      }
      p:first-of-type {
        font-weight: $medium;
      }
      ul.list-check {
        font: $normal 1.4rem/2.4rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 1.8rem/3.2rem $heading;
        }
        li {
          span.tick {
            color: $mid-green;
            margin-right: 20px;
          }
        }
      }
    }
    &:last-child {
      margin: 0;
    }
    a.button {
      padding: 10px 0;
    }
  }
}

// Impact
.offering.impact { 
  background: #FFFFFF;
  padding: 40px 0 0 0;
  h2 {
    text-transform: uppercase;
    color: $black;
    font: $bold 1.8rem/3.2rem $heading;
    @media (min-width: $breakpoint-tablet) {
      font: $bold 2.4rem/3.6rem $heading;
    }
    span {
      color: $mid-green;
    }
    &.case-studies {
      margin: 20px 0;
      @media (min-width: $breakpoint-tablet) {
        margin: 20px 0 0 0;
      }
    }
  }
  .card {
    background:#fff;
    border:1px solid $border;
    margin: 0;
    padding: 15px;
    @media (min-width: $breakpoint-tablet) {
      margin: 20px 0;
      padding: 20px 30px;
    }
    h4 {
      font: $bold 1.6rem/2.6rem $heading;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 2.0rem/3.6rem $heading;
      }
    }
    ul {
      font: $normal 1.4rem/2.4rem $heading;
      margin: 10px 0;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 1.6rem/2.8rem $heading;
      }
    }
  }
}

// Metrics
.metrics {
  padding: 20px 0;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap: 3.0rem;
  @media(max-width:900px){
    grid-template-columns:repeat(2,1fr);
  }
  @media(max-width:540px){
    grid-template-columns:1fr;
  }
  .metric {
    padding: 30px 20px;
    text-align: center;
    border: 1px solid $border;
    border-top: 10px solid $mid-green;
    background: #F0F0F0;
    @media (min-width: $breakpoint-tablet) {
      padding: 40px;
    }
    span.unit {
      font: $bold 3.0rem/3.0rem $heading;
      display: block;
      margin-bottom: 10px;
      color: $mid-green;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 4.0rem/4.0rem $heading;
      }
    }
    span.description {
      font: $medium 1.4rem/2.0rem $heading;
      display: block;
      text-transform: uppercase;
      color: $dark-grey; 
    }
  }
}

// Approach
.offering.approach {
  background: $black;
  padding: 20px 0 $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
  padding: $padding-half 0;
  }
  h2 {
    text-transform: uppercase;
    color: $mid-green;
    font: $bold 1.8rem/3.2rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) {
      font: $bold 2.4rem/3.6rem $heading;
    }
    span {
      color: $white;
    }
  }
  .approach-content {
    font: $normal 1.4rem/2.6rem $heading;
    @media (min-width: $breakpoint-tablet) {
      font: $normal 1.6rem/2.8rem $heading;
    }
    
  }
  .card {
    border: 1px solid  $mid-green;
    border-top: 10px solid $mid-green;
    background:#fff;
    padding: 15px 20px;
    @media (min-width: $breakpoint-tablet) {
      margin: 20px 0;
      padding: 20px 30px;
    }
    h3 {
      font: $bold 2.0rem/3.6rem $heading;
      margin-bottom: 0px;
    }
  }
}

// Value
.offering.value {
  padding: $padding-half 0 0 0;
  h2 {
    color: $mid-green;
    font: $bold 3.2rem/4.6rem $heading;
  }
}

// Insights
.offering.insights {
  padding: $padding-half 0 0 0;
  h2 {
    color: $mid-green;
    text-transform: uppercase;
    font: $bold 1.8rem/3.2rem $heading;
    @media (min-width: $breakpoint-tablet) {
      font: $bold 2.4rem/3.6rem $heading;
    }
  }
  p {
    font: $normal 1.6rem/2.8rem $heading;
  }
  .row {
    @media (min-width: $breakpoint-laptop) { 
      display: flex;
    }
  }
  .row + .row {
    padding: 40px 0 0 0;
  }
  article.card {
    background:#fff;
    border:1px solid $border;
    @include border-radius(20px);
    box-sizing: border-box;
    padding: 20px 30px;
    margin-top: 20px;
    h3 {
      margin-bottom: 5px;
      font: $medium 2.2rem/3.2rem $heading;
      color: $mid-green;
    }
    p {
      margin-bottom: 10px;
    }
  }
}

// Testimonials
.offering.testimonials {
  background: #FBFAF7;
  padding: $padding-half 0 0 0;
  .product {
    margin: 0 0 $padding-half 0;
    padding: 20px;
    @media (min-width: $breakpoint-tablet) {
      padding: 40px;
    }
    .content {
      background: $white_bg;
      border-top: 8px solid $light-green;
      background: rgba(240, 240, 240, 0.90);
      padding: 30px 40px;
      
      @media (max-width: $breakpoint-tablet) {
        margin: 10px 0;
        padding: 20px;
      }
      h4 {
        text-transform: uppercase;
        color: $black;
        font: $bold 1.2rem/2.4rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 1.6rem/2.6rem $heading;
        }
        span {
          color: $mid-green;
        }
      }
      p {
        font: $normal 1.6rem/2.6rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 2.4rem/3.6rem $heading;
        }
      }
    }
    &:last-child {
      margin: 0;
    }
    a.button {
      padding: 10px 0;
    }
  }
}

// Contact
.offering.contact {
  padding: $padding-half 0;
  h2 {
    color: $mid-green;
    font: $bold 2.4rem/3.6rem $heading;
    text-transform: uppercase;
  }
  .card {
    background:#fff;
    border:1px solid $border;
    @include border-radius(20px);
    box-sizing: border-box;
    padding: 20px 30px;
    margin-top: 20px;
    .person {
      padding: 20px 0;
      overflow: hidden;
      img.photo {
        width: 150px;
        height: 150px;
        @include border-radius(50%);
        float: left;
        margin-right: 20px;
      }
    }
  }
  form {
  
    label {
      font-weight: 300 !important;
      color: $black;
      font: $medium 1.6rem/2.6rem $heading;
    }
  
    select, input, textarea {
      font: $normal 1.6rem/2.6rem $regular;
      @include border-radius(10px);
      background: transparent;
      border: 1px solid #adbac8;
      padding: 10px;
      display: block;
      margin: 10px 0;
      box-sizing: border-box;
      width: 100%;
      &:focus {
        border: 1px solid $dark-green;
      }
    }
    textarea {
      flex-grow: 1;
    }
    .message-field {
      grid-column: 2 / 3;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }
    button {
      margin: 10px 10px 0 0;
      height: 50px;
      font: $normal 1.6rem/1.6rem $regular;
      padding: 10px 20px;
      border-radius:20px;
      background: $mid-green;
      color: $white;
      border: 1px solid $mid-green;
      &:hover {
        background: $white;
        color: $mid-green;
        border: 1px solid $mid-green;
      }
    }
    a.blank, a.frm_start_over {
      height: 50px;
      font: $normal 1.6rem/1.6rem $regular;
      text-decoration: none;
      padding: 10px 20px;
      border-radius:20px;
      background: $white;
      color: $mid-green;
      border: none;
      &:hover {
        background: $mid-green;
        color: $white;
      }
    }
  }
}

.list-check {
  list-style:none;
  padding:0;
  margin:.2rem 0;
  li {
    display:flex;
    gap:.6rem;
    align-items:flex-start;
    margin:.35rem 0;
  }
}

// Grid
.grid {
  display:grid;
  gap: 3.0rem;
}
.grid-2 {
  grid-template-columns:repeat(2,1fr);
}
.grid-3{
  grid-template-columns:repeat(3,1fr);
}
@media (max-width:900px){
  .grid-2,.grid-3{
    grid-template-columns:1fr
  }
}