// Product Filter
.product_filter {
  background: $mid-green;
  margin: 0px auto;
  .container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }
  }
  .square_background {
    background-size: cover;
    content: "";
    height: auto;
    min-height: 300px;
    width: 100%;
    position: relative;
    transition: opacity 0.4s ease-in-out;
    @media (max-width: $breakpoint-tablet) {
      order: 2;
    }
    @media (min-width: $breakpoint-tablet) {
      width: 50%;
      min-height: 540px;
    }
    // Product Overlay
    
    .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.8);
      @include border-radius(20px);
      text-align: left;
      min-width: 500px;
      .overlay-content {
        
        padding: 30px;
        color: $white;
        h3 {
          color: $white;
        }
        a.button {
          color: $white;
          &:hover {
            color: $mid-green;
          }
        }
      }
    }
    
  }
  .square_content {
    height: auto;
    background: $mid-green;
    width: 100%;
    text-align: left;
    @media (max-width: $breakpoint-tablet) {
      order: 1;
    }
    @media (min-width: $breakpoint-tablet) {
      position: relative;
      width: 50%;
    }
    .filter-controls {
      select {
        padding: 10px 15px;
        font-size: 16px;
        @include border-radius(10px);
        border: 1px solid $black;
        margin-right: 2%;
        width: 45%;
        box-sizing: border-box;
        appearance: none;
        background: #7acb9c url('../img/arrow_down.svg') no-repeat right 15px center;
        color: $black;
        background-size: 1rem;
        position: relative;
        z-index: 10;
        font: $medium 1.6rem/2.4rem $heading;
        option {
          background: $dark-green;
          color: $white;
        }
        &.active {
          border: 1px solid $dark-green;
          background: $dark-green;
          background-size: 1rem;
          color: $white;
        }
      }
    }
    .content {
      padding: 30px;
      @media (min-width: $breakpoint-tablet) {
        @include vertical-align;
        padding: 60px;
      }
      h1 {
        margin-bottom: 10px;
        color: $white;
        font: $bold 2.2rem/3.2rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 3.2rem/4.2rem $heading;
        }
      }
      p {
        margin-bottom: 40px;
        color: $white;
        font: $normal 1.4rem/2.8rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 2.2rem/3.2rem $heading;
        }
      }
      .title {
        padding: 0 0 10px 0;
        @media (min-width: $breakpoint-tablet) {
          padding: 0 0 20px 0;
        }

      }
      a {
        color: $white;
        &:before {
          color: $black;
        }
        &:hover {
          color: $black;
        }
      }
    }
  }
}




// Product Page
.grid {
  display:grid;
  gap: 3.0rem;
}
.grid-2 {
  grid-template-columns:repeat(2,1fr);
}
.grid-3{
  grid-template-columns:repeat(3,1fr);
}
@media (max-width:900px){
  .grid-2,.grid-3{
    grid-template-columns:1fr
  }
}

section.offering.hero {
  padding: $padding-half 0;
  border-top: 10px solid $light-green;
  background: #F1EEEA;
  span.kicker {
    letter-spacing:0.1rem;
    font: $medium 1.4rem/2.2rem $heading;
    text-transform:uppercase;
    color: $mid-green;
    display: block;
    margin-bottom: 20px;
  }
  h1 {
    color: $black;
    font: $bold 2.6rem/3.6rem $heading;
    margin-bottom: 10px;
    @media (min-width: $breakpoint-tablet) { 
      font: $bold 3.8rem/5.0rem $heading;
      margin-bottom: 20px;
    }
    @media (min-width: $breakpoint-laptop) { 
      font: $bold 5.6rem/7.0rem $heading;
    }
  }
  p {
    font: $medium 1.8rem/2.8rem $heading;
    @media (min-width: $breakpoint-tablet) { 
      font: $medium 2.4rem/3.4rem $heading;
    }
    
  }
  .card.jump {
    padding: 20px;
    label {
      letter-spacing:0.1rem;
      font: $medium 1.4rem/2.2rem $heading;
      text-transform:uppercase;
      color: $mid-green;
      display: block;
      margin-bottom: 20px;
    }
    select {
      background: $white;
      border: 1px solid $light-green;
      padding: 10px;
      @include border-radius(5px);
      margin-right: 10px;
      font: $medium 1.6rem/2.2rem $heading;
    }
    .button {
      padding: 13px 10px;
      width: 80px;
      text-align: center;
      @include border-radius(5px);
      cursor: pointer;
    }
  }
}


.offering.modules {
  .container {
    opacity: 1;
  }
  h2, p {
    @include fade();
  }
  .service-card {
    @include fade();
  }
  &.visible {
    h2, p {
      @include reset();
    }
    .service-card {
      @include reset();
      @include delay-children();
    }
  }
}

.offering.image {
  min-height: 420px;
  background: $mid-green;
  .background {
    min-height: 420px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .elogo {
      max-height: 120px;
      padding: 120px 0 200px 0;
      width: auto;
      margin: 0px auto;
    }
  }
}

// Modules
.offering.modules {
  padding: $padding-half 0;
  .container {
    margin-top: -120px;
    
  }
  .intro {
    padding: 30px 40px 40px 40px;
    background: #FBFAF7;
    @include border-radius(10px 10px 0 0);
    h2 {
      color: $black;
      
      margin-bottom: 10px;
      font: $bold 2.2rem/3.2rem $heading;
      @media (min-width: $breakpoint-tablet) { 
        font: $bold 3.2rem/4.6rem $heading;
      }
    }
    p {
      font: $medium 1.6rem/2.6rem $heading;
      @media (min-width: $breakpoint-tablet) { 
        font: $medium 1.8rem/2.8rem $heading;
      }
    }
  }
  
  .row {
    @media (min-width: $breakpoint-laptop) { 
      display: flex;
    }
  }
  .row + .row {
    padding: 40px 0 0 0;
  }
  article {
    display: flex;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) { 
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
      color: $black;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .content {
      box-sizing: border-box;
      border-top: 5px solid $light-green;
      background: $white;
      margin: 20px;
      padding: 20px;
      @media (min-width: $breakpoint-tablet) { 
        max-height: 100%;
        min-height: 300px;
        margin: 40px;
        padding: 20px;
      }
      span.type {
        font: $bold 1.2rem/1.8rem $heading;
        text-transform: uppercase;
        color: $light-grey;
        letter-spacing: 2px;
        display: block;
        margin-bottom: 5px;
      }
      h4 {
        font: $bold 1.6rem/2.0rem $heading;
        text-transform: uppercase;
      }
      p, ul {
        font: $normal 1.4rem/2.0rem $regular;
        @media (min-width: $breakpoint-tablet) { 
          font: $normal 1.6rem/2.4rem $regular;
        }
      }
      ul {
        margin-bottom: 0;
      }
      .button {
        -webkit-transition: all ease 0s;
        -moz-transition: all ease 0s;
        -o-transition: all ease 0s;
        transition: all ease 0s;
      }
    }   
  
    &:hover, &.active {
      a > .content {
        margin: 0;
        background: $light-green;
        opacity: 0.9;
        padding: 40px;
        height: 100%;
        @media (min-width: $breakpoint-tablet) { 
          padding: 60px;
        }
        h4, span, p, ul, li {
          color: $white;
        }
        .button {
          color: $white;
          &:before {
            color: $white;
          }
        }
      }
    }
  }
}

.hidden-section {
  display: none;
}

// Problem
.offering.problem {
  background: #FBFAF7;
  padding: 20px 0 $padding-half 0;
  .product {
    margin: 0 0 $padding-half 0;
    padding: 20px;
    @media (min-width: $breakpoint-tablet) {
      padding: 40px;
    }
    .content {
      background: $white_bg;
      border-top: 8px solid $light-green;
      background: rgba(240, 240, 240, 0.90);
      padding: 20px;
      @media (min-width: $breakpoint-tablet) {
        padding: 30px 40px;
      }
      h3 {
        font: $bold 2.4rem/3.6rem $heading;
        text-transform: uppercase;
        color: $black;
        span {
          color: $mid-green;
        }
      }
      p:first-of-type {
        font-weight: $medium;
      }
      ul.list-check {
        font: $normal 1.8rem/3.2rem $heading;
        li {
          span.tick {
            color: $mid-green;
            margin-right: 20px;
          }
        }
      }
    }
    &:last-child {
      margin: 0;
    }
    a.button {
      padding: 10px 0;
    }
  }
}


.offering.impact { 
  background: #FFFFFF;
  padding: 0 0 $padding-half 0;
  h2 {
    font: $bold 2.4rem/3.6rem $heading;
    text-transform: uppercase;
    color: $black;
    span {
      color: $mid-green;
    }
    &.case-studies {
      margin-top: 20px;
    }
  }
  .card {
    background:#fff;
    border:1px solid $border;
    padding: 20px 30px;
    margin: 20px 0;
    h4 {
      font: $bold 2.0rem/3.6rem $heading;
    }
    ul {
      font: $normal 1.6rem/2.8rem $heading;
    }
  }
}

.offering.approach {
  background: $black;
  padding: $padding-half 0;
  h2 {
    font: $bold 2.4rem/3.6rem $heading;
    text-transform: uppercase;
    color: $mid-green;
    span {
      color: $white;
    }
  }
  p {
    font: $normal 1.6rem/2.8rem $heading;
  }
  .card {
    border: 1px solid  $mid-green;
    border-top: 10px solid $mid-green;
    background:#fff;
    padding: 20px 30px;
    margin: 20px 0;
  }
}

.offering.value {
  padding: $padding-half 0 0 0;
  h2 {
    color: $mid-green;
    font: $bold 3.2rem/4.6rem $heading;
  }
}

.offering.insights {
  padding: $padding-half 0 0 0;
  h2 {
    color: $mid-green;
    font: $bold 2.4rem/3.6rem $heading;
    text-transform: uppercase;
  }
  p {
    font: $normal 1.6rem/2.8rem $heading;
  }
  .row {
    @media (min-width: $breakpoint-laptop) { 
      display: flex;
    }
  }
  .row + .row {
    padding: 40px 0 0 0;
  }
  article.card {
    background:#fff;
    border:1px solid $border;
    @include border-radius(20px);
    box-sizing: border-box;
    padding: 20px 30px;
    margin-top: 20px;
    h3 {
      margin-bottom: 5px;
      font: $medium 2.2rem/3.2rem $heading;
      color: $mid-green;
    }
    p {
      margin-bottom: 10px;
    }
  }
}

// Problem
.offering.testimonials {
  background: #FBFAF7;
  padding: $padding-half 0 0 0;
  .product {
    margin: 0 0 $padding-half 0;
    padding: 20px;
    @media (min-width: $breakpoint-tablet) {
      padding: 40px;
    }
    .content {
      background: $white_bg;
      border-top: 8px solid $light-green;
      background: rgba(240, 240, 240, 0.90);
      padding: 20px;
      @media (min-width: $breakpoint-tablet) {
        padding: 30px 40px;
      }
      h4 {
        font: $bold 1.6rem/2.6rem $heading;
        text-transform: uppercase;
        color: $black;
        span {
          color: $mid-green;
        }
      }
      p {
        font: $normal 2.4rem/3.6rem $heading;
      }
    }
    &:last-child {
      margin: 0;
    }
    a.button {
      padding: 10px 0;
    }
  }
}

.offering.contact {
  padding: $padding-half 0;
  h2 {
    color: $mid-green;
    font: $bold 2.4rem/3.6rem $heading;
    text-transform: uppercase;
  }
  .card {
    background:#fff;
    border:1px solid $border;
    @include border-radius(20px);
    box-sizing: border-box;
    padding: 20px 30px;
    margin-top: 20px;
    .person {
      padding: 20px 0;
      overflow: hidden;
      img.photo {
        width: 150px;
        height: 150px;
        @include border-radius(50%);
        float: left;
        margin-right: 20px;
      }
    }
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; // space between fields
    max-width: 800px;
  
    label {
      font-weight: 300 !important;
      color: $black;
      font: $medium 1.6rem/2.6rem $heading;
    }
  
    select, input, textarea {
      font: $normal 1.6rem/2.6rem $regular;
      @include border-radius(10px);
      background: transparent;
      border: 1px solid #adbac8;
      padding: 10px;
      display: block;
      margin: 10px 0;
      box-sizing: border-box;
      width: 100%;
      &:focus {
        border: 1px solid $dark-green;
      }
    }
    textarea {
      flex-grow: 1;
    }
  
    // Make the message box span the full right column
    .message-field {
      grid-column: 2 / 3;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }



    button {
      padding: 15px 20px;
      border-radius:20px;
      background: $mid-green;
      color: $white;
      border: 1px solid $mid-green;
      &:hover {
        background: $white;
        color: $mid-green;
        border: 1px solid $mid-green;
      }
      &.blank {
        background: $white;
        color: $mid-green;
        border: 1px solid $mid-green;
        &:hover {
          background: $mid-green;
          color: $white;
        }
      }
    }
  }
}


section {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}
section.visible {
  opacity: 1;
  transform: translateY(0);
}

.metrics {
  padding: 20px 0;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap: 3.0rem;
  @media(max-width:900px){
    grid-template-columns:repeat(2,1fr);
  }
  @media(max-width:540px){
    grid-template-columns:1fr;
  }
  .metric {
    padding: 40px;
    text-align: center;
    border: 1px solid $border;
    border-top: 10px solid $mid-green;
    background: #F0F0F0;
    span.unit {
      font: $bold 4.0rem/4.0rem $heading;
      display: block;
      margin-bottom: 10px;
      color: $mid-green;
    }
    span.description {
      font: $medium 1.4rem/2.0rem $heading;
      display: block;
      text-transform: uppercase;
      color: $dark-grey; 
    }
    &.blue {
      border-top: 10px solid #1f69b2;
      span.unit {
        color: #1f69b2;
      }
    }
    &.purple {
      border-top: 10px solid #550778;
      span.unit {
        color: #550778;
      }
    }
    &.green {
      border-top: 10px solid $light-green;
      span.unit {
        color: $light-green;
      }
    }
  }
}
  
.list-check{
  list-style:none;
  padding:0;
  margin:.2rem 0;
  li {
    display:flex;
    gap:.6rem;
    align-items:flex-start;
    margin:.35rem 0;
  }
}