// Products

.product_section {
  padding: $padding 0;
  .product {
    margin: 0 0 $padding-half 0;
    padding: 40px;
    .content {
      padding: 30px 40px;
      background: $white_bg;
      border-top: 8px solid $light-green;
      background: rgba(240, 240, 240, 0.90);
      h3 {
        font: $bold 1.8rem/2.6rem $heading;
        text-transform: uppercase;
        color: $black;
      }
      p:first-of-type {
        font-weight: $medium;
      }
    }
    &:last-child {
      margin: 0;
    }
  }
}