// Search

section.hero {
  &.search {
    background: $dark-green;
    h1 {
      color: $white;
      text-align: center;
    }
    span.search_term {
      background: #29BA74;
      padding: 5px 10px;
    }
  }
}

section.post {
  &.search {
    .search_item {
      padding: 20px 0;
      margin: 20px 0;
      border-bottom: 1px solid #737772;
      &:last-of-type {
        border-bottom: none;
      }
    }
    mark {
      background: #29BA74;
      padding: 5px;
      color: $white;
    }
    .search_page_form {
      
    }
    // Pagination
    .pagination {
      ul {
        margin: 0;
        li {
          a {
            background: $white;
            border: 2px solid #29BA74;
            color: #29BA74;
            text-decoration: none;
            &:hover {
              background: #29BA74;
              color: $white;
            }
          }
          &.active {
            a {
              background: #29BA74;
              @include border-radius(10px);
              border: 1px solid #29BA74;
              color: $white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}